<ul class="nav nav-tabs" ng-if="!noRegion()">
  <li class="nav-tab nav-{{::action.name}}" ng-repeat="action in getActions() track by $index"> 
    <a class="list-group-item {{action.extraCss}}" ng-href="{{action.path}}">
      <span class="glyphicon glyphicon-{{::action.icon}}" ng-if="::action.icon" aria-hidden="true"></span>
      <dnsim-job-icon size="'50%'" item="action.build.job" small="true"></dnsim-job-icon>
      &nbsp;
      <span class="hidden-xs">
      {{action.name}}
      </span>
    </a>
  </li>
  <li class="nav-tab nav-about pull-right">
    <a class="list-group-item" ng-href="about">
      <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
      <span class="hidden-xs">
      about
      </span>
    </a>
  </li>
</ul>
<div class="container-fluid sim-error" ng-if="simError">
  {{simError}}
</div>
<div class="container-fluid sim-error" ng-if="isHttpOnly()">
  <div class="container">
    <div class="col-xs-12 text-right">
      please use https: <a href="https://spacem.github.io/dngearsim">https://spacem.github.io/dngearsim</a>
    </div>
  </div>
</div>