<ul class="nav nav-tabs" ng-if="!noRegion()">
  <li class="{{action.extraCss}} nav-tab nav-{{action.name}}" ng-repeat="action in getActions()"> 
    <a ng-href="{{getActionUrl(action)}}">
      <span class="glyphicon glyphicon-{{::action.icon}}" aria-hidden="true"></span> {{action.name}}
    </a>
  </li>
</ul>
<div class="container-fluid sim-error" ng-if="isHttpOnly()">
  <div class="container">
    <div class="col-xs-12 text-right">
      please use https: <a href="https://spacem.github.io/dngearsim">https://spacem.github.io/dngearsim</a>
    </div>
  </div>
</div>