<div class="row">
  <ul class="nav nav-tabs">
    <li class="{{action.extraCss}} nav-tab nav-{{action.name}}" ng-repeat="action in getActions()"> 
      <a href="#/{{action.path}}" ng-click="$parent.fireAction(action)">
        <span class="glyphicon glyphicon-{{action.icon}}" aria-hidden="true"></span> {{action.name}}
      </a>
    </li>
  </ul>
</div>
<div class="row" ng-show="isLoading()">
  <div class="col-xs-12 loading">
    loading...
  </div>
</div>
<div class="row" ng-show="noRegion()">
  No region selected
</div>

<div class="row" ng-hide="isLoading() || noRegion()">
  <div class="col-xs-12" id="app" ng-view>
  </div>
</div>