<h3>faq</h3>
<h3><small>how do I use this?</small></h3>
<p>
  Start by searching for equipment.
  Click items to view details then save items from the seach into a group.
  Edit saved groups to set a level and class to see extra calcualted stats.
  Saved groups are not saved to the server so may be lost if your browser is reset.
  If you want to keep any groups you can export them as links that can be shared and imported into another browser.
</p>
<h3><small>what about other regions?</small></h3>
<p>
  Use the toggles in the top right to change regions.
  The language and data is controlled separatly.
</p>
<h3><small>what are the strange items?</small></h3>
<p>
  There are a lot of items in the data files that that are not obtainable in game.
</p>
<h3><small>can I make a suggestion?</small></h3>
<p>
  Sure. Message space on discord, use the
  <a href="https://github.com/spacem/dngearsim/issues">github issue tracker</a> or 
  <a href="http://dragonnest.nexon.net/community/forum#%2Fshowthread.php%3F1511278-dngearsim-Gear-Simulator">Nexon forums</a>.
</p>
<h3><small>now what?</small></h3>
<p>
  Use the <a href="#/item-search">search</a>
</p>
<h3>issues</h3>
<pre>
* skills are still in developmet
* calculted stats are not 100%
* users need to refresh the page after a new release
* inconsistancies like wise plates with 8% instead of 7.9%
* no support for growing growth spirits
* modal dialogs are annoying on mobile devices
</pre>

<h3>history</h3>
<pre>
Jan 31 2016
* partial skills implementation
* change to calculations
* some stats are now rounded down
* fix to talisman slots

Jan 26 2016
* sparkable items
* hero level, damage type and element selection

Jan 25 2016
* talisman slot % increases

Jan 24 2016
* dragon gem enchantments

Jan 18 2016
* added missing items including machina rdn gear

Jan 16 2016
* custom items/stats
  
Jan 14 2016
* equivalent hp and some other calculated stats
* average damage calc now assumes enemy has 25% crit resist

Jan 13 2016
* split equipment into weapons/armour/accessories
* added stat as search filter
* edit of groups allows rename and class/level assignment
* show calculated stats and naked stats
* average damage = element x atk pwr x fd x (avg(dmg) + (cdmg x cChance x avg(dmg)))
* language selection changes
* about page

Jan 9, 2016
* added missing stats
* removed mp from enchantments

Jan 8, 2016 
* optimisations to reduce memory
* prevent load of some low level equipment
* load translations at start
* change location of na files

</pre>