<h3>faq</h3>
<h3><small>how do I use this?</small></h3>
<p>
  Start by searching for equipment.
  Click items to view details then save items from the seach into a group.
  Edit saved groups to set a level and class to see extra calcualted stats.
  Saved groups are not saved to the server so may be lost if your browser is reset.
  If you want to keep any groups you can export them as links that can be shared and imported into another browser.
</p>
<h3><small>what about other regions?</small></h3>
<p>
  Use the toggles in the top right to change regions.
  The language and data is controlled separatly.
</p>
<h3><small>what are the strange items?</small></h3>
<p>
  There are a lot of items in the data files that that are not obtainable in game.
  You can figure out what is real.
</p>
<h3><small>can I make a suggestion?</small></h3>
<p>
  Sure. Message space on discord, use the
  <a href="https://github.com/spacem/dngearsim/issues">github issue tracker</a> or 
  <a href="http://dragonnest.nexon.net/community/forum#%2Fshowthread.php%3F1511278-dngearsim-Gear-Simulator">Nexon forums</a>.
</p>
<h3><small>now what?</small></h3>
<p>
  Use the <a href="#/item-search">search</a>
</p>
<h3>issues</h3>
<pre>
* users need to refresh the page after a new release
* inconsistancies like wise plates with 8% instead of 7.9%
* no function to add sparks for old equipment
* no support for talisman slot multipliers
* no support for passive skills
* no support for growing growth spirits
* some stat calculations are missing
* modal dialogs can be opened twice
</pre>

<h3>history</h3>
<pre>
Jan 18 2016
* minor display adjustments
* added missing items including machina rdn gear

Jan 16 2016
* give better experience for mobile users
* implement custom items/stats
  
Jan 14 2016
* added avg damage to collapsed group
* added equivalent hp and some other calculated stats
* change to average damage calc to assume enemy has 25% crit resist
* show some stats in thousands

Jan 13 2016
* added grouping to saved items
* split equipment into weapons/armour/accessories
* several changes to screen layouts
* added stat as search filter
* sort search results by stat or level
* sort saved items by level then name
* support edit of groups to allow rename and class/level assignment
* show calculated stats and naked stats
* average damage = fd x (avg(dmg) + (cdmg x cChance x avg(dmg)))
* change the way language selection is shown
* removed Herobrine
* added about page

Jan 9, 2016
* standardise display of stats and item links
* change display of damage to have min-max on one line
* add some missing stats and remove mp from enchantments

Jan 8, 2016 
* optimisations to translations file format
* optimisations to dnt loading to reduce memory
* fix to +0 enchantment that looked like +1
* prevent load of some low level equipment
* load translations at start
* change location of na files

</pre>