<div class="modal-header">
  <h3>
    {{item.name}}
    <small> <br class="visible-xs" />
    {{item.rank.name}}
    level {{item.levelLimit}}
    </small>
  </h3>
  <small>{{item.typeName}}: {{item.itemTypeName}} / {{item.id}} / {{item.pid}}
    <span ng-show="item.potentialRatio != null">
      <br />
      potential&nbsp;ratio:&nbsp;{{item.potentialRatio}}
    </span>
  </small>
</div>
<div class="modal-body">
  <div class="row" ng-hide="item.typeName == 'custom'">
    <div class="col-xs-8 col-sm-6">
      <div class="row">
        <div class="col-xs-12">
          <div dnsim-stats stats="item.stats">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-4 col-sm-6">
      <div class="row" ng-hide="item.setStats != null">
        <div class="col-xs-12" >
        loading set stats...
        </div>
      </div>
      <div class="row" ng-show="item.setStats != null">
        <div class="col-xs-12" dnsim-stats stats="item.setStats">
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-show="item.typeName == 'talisman'">
    <div class="col-xs-5 col-sm-3 col-md-2">
      <button class="btn btn-block btn-default" ng-disabled="item.enchantmentNum == null" ng-click="setTalisman(0)">+0%</button>
      <button class="btn btn-block btn-default" ng-disabled="item.enchantmentNum == 25" ng-click="setTalisman(25)">+25%</button>
      <button class="btn btn-block btn-default" ng-disabled="item.enchantmentNum == 50" ng-click="setTalisman(50)">+50%</button>
      <button class="btn btn-block btn-default" ng-disabled="item.enchantmentNum == 100" ng-click="setTalisman(100)">+100%</button>
    </div>
    <div class="col-xs-7" ng-show="item.enchantmentNum > 0">
      <label>Extra:</label>
      <div dnsim-stats stats="item.enchantmentStats" >
      </div>
      <br />
      <label>Total:</label>
      <div dnsim-stats stats="item.fullStats" >
      </div>
    </div>
  </div>
  <div class="row" ng-show="item.typeName == 'custom'">
    <div class="col-xs-12">
      <form class="form-inline">
        <div class="form-group">
          <input type="number" string-to-number class="form-control" ng-model="newStatVal" step="any" />
          <select class="form-control" ng-model="stat" class="form-control"
            ng-options="stat.name for stat in getStats() track by stat.id">
          </select>
          {{getNewStatDisplayValue()}} {{getNewStatName()}}<br />
          <button class="btn btn-default" ng-click="addStat()"> add new stat</button>
          <br /><br />
        </div>
      </form>
    </div>
  </div>
  <div class="row" ng-show="item.typeName == 'custom'" ng-repeat="stat in item.stats track by $index">
    <div class="col-xs-12">
        {{$parent.getStatDisplayValue(stat)}}
        {{$parent.getStatName(stat)}}
        <button class="btn btn-link" ng-click="$parent.removeStat(stat)">remove</button>
    </div>
  </div>
  <div class="row" ng-hide="enchantments != null">
    <div class="col-xs-12 modal-loading">
    loading enchantments...
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" ng-show="enchantments.length > 0">
      <div class="form-group">
        <button class="btn btn-default" ng-click="prevEnchantment()" ng-disabled="item.enchantmentNum < 1">- reduce</button>
        <button class="btn btn-default" ng-click="nextEnchantment()" ng-disabled="isMaxEnchantLevel()">+ increase</button>
      </div>
    </div>
  </div>
  <div class="row" ng-hide="enchantment == null">
    <div class="col-xs-12">
      +{{enchantment.EnchantLevel}}
      {{enchantmentCost}}
    </div>
    <div class="col-xs-12">
      <span dnsim-stats stats="item.enchantmentStats" separator="'|'">
      </span>
    </div>
  </div>
  <div class="row" ng-hide="enchantment == null">
    <div class="col-xs-12">
      enchant ratio: {{enchantment.EnchantRatio | percentage}}
    </div>
  </div>
  <div class="row" ng-hide="enchantment == null">
    <div class="col-xs-12">
      break ratio: {{enchantment.BreakRatio | percentage}}
    </div>
  </div>
  <div class="row" ng-hide="enchantment == null">
    <div class="col-xs-12">
      min down: {{enchantment.MinDown}} | max down: {{enchantment.MaxDown}}
    </div>
  </div>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="cancel()">close</button>
</div>
