<div class="row" ng-show="isLoadComplete()">
  <div class="col-xs-12" ng-hide="simpleSearch">
    <div class="form-group">
      <label class="checkbox-inline" ng-repeat="(id,value) in grades">
        <input type="checkbox" ng-model="value.checked" value="{{id}}"> {{value.name}}
      </label>
    </div>
  </div>
  <div class="col-xs-6 col-md-3" ng-hide="simpleSearch">
    <label>class: 
    </label>
    <select ng-model="job" class="form-control"
     ng-options="job.name for job in jobs track by job.id">
    </select>
  </div>
  <div class="col-xs-3 col-md-1" ng-hide="simpleSearch">
     <label>min&nbsp;Level:
     </label>
     <input type="text" class="form-control" ng-model="minLevel" select-all-on-click />
  </div>
  <div class="col-xs-3 col-md-1" ng-hide="simpleSearch">
     <label>max&nbsp;Level:
     </label>
     <input type="text" class="form-control" ng-model="maxLevel" select-all-on-click />
  </div>
  <div class="col-xs-12 col-md-7">
     <label>name:</label>
     <input type="text" class="form-control" ng-model="nameSearch" select-all-on-click />
  </div>
  <div class="col-xs-12">
    
  </div>
</div>
<div class="row" ng-hide="isLoadComplete()">
  <div class="col-xs-12">
  loading...
  </div>
</div>
<div class="row">&nbsp;</div>
<table class="table">
<tr class="row" ng-repeat="result in getResults()">
  <td>
    <div class="col-xs-12 col-sm-9">
      <button class="btn btn-link {{result.rank.name}}-grade" ng-click="$parent.open(result)">
        <span ng-show="result.enchantmentNum > 0">+{{result.enchantmentNum}}</span>
        {{result.name}}
      </button>
    </div>
    <div class="col-xs-12 col-sm-3" ng-hide="simpleSearch">
      {{getJobName(result.needJobClass)}} {{result.rank.name}} level {{result.levelLimit}}
    </div>
    <div class="col-xs-12 col-md-9">
      <span ng-repeat="stat in $parent.getFullStats(result)">
        |&nbsp;{{stat.name}}:&nbsp;{{stat.displayValue}}
      </span>
    </div>
    <div class="col-xs-12 col-md-3 text-right">
      <button class="btn btn-link" ng-click="$parent.saveItem(result);">use</button>
    </div>
  </td>
</tr>
</table>
<div class="row" ng-show="items != null && currentResults >= maxDisplay">
  <div class="col-xs-1"></div>
  <div class="col-xs-1">
    <button class="btn btn-link" ng-click="maxDisplay = currentResults + 10;">Show More</button>
  </div>
</div>