<div class="row">
  <ul class="nav nav-tabs">
    <li role="presentation" class="{{action.extraCss}} nav-tab" ng-repeat="action in getActions()"> 
      <a href="#/{{action.path}}">{{action.name}}</a>
    </li>
  </ul>
</div>
<div class="row" ng-show="isLoading()">
  <div class="col-xs-12 loading">
    loading...
  </div>
</div>
<div class="row">&nbsp;</div>
<div class="row" ng-show="noRegion()">
  No region selected
</div>
<div ng-hide="isLoading() || noRegion()">
<div id="app" ng-view class="container">
</div>
</div>