<div class="toggle-box">
  <button ng-class="{'dark-toggle' : currentLocation != $parent.dntLocation, 'light-toggle' : currentLocation == $parent.dntLocation}" ng-click="$parent.setLocation(currentLocation)" ng-repeat="currentLocation in hostedFiles" title="{{currentLocation.name}}">
    &nbsp;{{currentLocation.region}}&nbsp;
  </button>
  
  <button class="toggle-text" ng-click="edit = true">&nbsp;{{getWorldName()}}&nbsp;</button>
  <br ng-show="edit || dntLocation.region == 'ALT'" />
  <div class="toggle-text" ng-show="edit">language:</div>
  
  <br ng-show="edit" />
  <button ng-show="$parent.edit" ng-class="{'dark-toggle' : currentLocation != $parent.tlocation, 'light-toggle' : currentLocation == $parent.tlocation}" ng-click="$parent.setTLocation(currentLocation)" ng-repeat="currentLocation in hostedFiles" title="{{currentLocation.name}}">
    &nbsp;{{currentLocation.region}}&nbsp;
  </button>
</div>
<div class="flag"></div>