<div class="row" ng-hide="anyItems">
  <div class="col-xs-12">
  Nothing saved
  </div>
</div>
<div id="savedGroup" class="row" ng-show="anyItems" ng-repeat="(group, items) in savedItems track by $index">
  <div class="col-xs-12 col-md-3">
    <div class="row">
      <div class="col-xs-12 col-md-12">
      <h3>{{group}}</h3>
      </div>
      <div class="col-xs-12 col-md-12">
        <h4>Combined stats:</h4>
      </div>
      <div class="col-xs-5 col-md-12" ng-repeat="stat in $parent.combinedStats[group] track by stat.id">
        {{stat.name}}: {{stat.displayValue}}
      </div>
    </div>
    <div class="row">&nbsp;</div>
  </div>
  <div class="col-xs-12 col-md-9">
    <table class="table">
    <tr class="row" ng-repeat="result in items.items track by $index">
      <td>
      <div class="col-xs-12 col-sm-9">
        <button class="btn btn-link {{result.rank.name}}-grade" ng-click="$parent.open(group, result, $index)">
          <span ng-show="result.enchantmentNum > 0">+{{result.enchantmentNum}}</span>
          {{result.name}}
        </button>
      </div>
      <div class="col-xs-12 col-sm-3">
        {{result.rank.name}} level {{result.levelLimit}}
      </div>
      <div class="col-xs-12 col-md-9">
        <span ng-repeat="stat in $parent.$parent.getFullStats(result)">
          |&nbsp;{{stat.name}}:&nbsp;{{stat.displayValue}}
        </span>
      </div>
      <div class="col-xs-12 col-md-3 text-right">
          <button class="btn btn-link" ng-click="$parent.$parent.addItem(group, result);">copy</button>
          <button class="btn btn-link" ng-click="$parent.$parent.removeItem(group, $index);">remove</button>
      </div>
      </td>
    </tr>
    </table>
  </div>
  <div class="col-xs-12">
    &nbsp;
  </div>
</div>