<div class="modal-header">
  <h3>
    <span ng-show="item.enchantmentNum > 0">+{{item.enchantmentNum}}</span>
    {{item.name}}
    <small>
    {{item.rank.name}}
    level {{item.levelLimit}}
    </small>
  </h3>
  <small>{{item.typeName}}: {{item.itemTypeName}} / {{item.id}}</small>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-6 col-md-3 col-lg-2" ng-repeat="(group, items) in savedItems track by $index">
      <button class="btn btn-link" ng-click="$parent.groupName = group">{{group}}</button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <label>Group Name
      </label>
      <input type="text" class="form-control" id="groupNameInput" ng-model="groupName" autofocus ng-keyup="$event.keyCode == 13 ? ok() : null" />
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn" ng-click="ok()">Save</button>
  <button class="btn" ng-click="cancel()">Cancel</button>
</div>
