<div class="row" ng-hide="anyItems">
  <div class="col-xs-12">
  nothing saved
  </div>
</div>
<div class="row" ng-show="isLoading">
  <div class="col-xs-12 loading">
    loading...
  </div>
</div>
<div id="savedGroup" class="row" ng-show="anyItems" ng-repeat="(group, items) in savedItems track by $index" ng-hide="isLoading">
  <div class="col-xs-12">
    <h3 class="text-left">{{group}}
    <small>
      <a class="btn btn-link" href="{{items.shortUrl}}" ng-show="items.shortUrl != null">{{items.shortUrl}}</a>
      <button class="btn btn-link" ng-click="$parent.createShortUrl(group)" ng-hide="items.shortUrl != null">create permalink</button>
    </small>
    </h3>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-link" ng-click="$parent.copyGroup(group)">copy into saved groups</button>
  </div>
  <div class="col-xs-12 col-md-9">
    <table class="table">
    <tr class="row" ng-repeat="result in items.items track by $index">
      <td>
      <div class="col-xs-12">
        <dnsim-item-link item="result" />
      </div>
      <div class="col-xs-12">
        <span dnsim-stats stats="result.fullStats" alt-stats="result.stats" separator="'|'" />
      </div>
      </td>
    </tr>
    </table>
  </div>
</div>
