<div class="row" ng-hide="anyItems">
  <div class="col-xs-12">
  nothing saved
  </div>
</div>
<div class="row" ng-show="isLoading">
  <div class="col-xs-12 loading">
    loading...
  </div>
</div>
<div id="savedGroup" class="row" ng-show="anyItems" ng-repeat="(group, items) in savedItems track by $index" ng-hide="isLoading">
  <div class="col-xs-12 col-md-3">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div>
          <h3 class="text-left">{{group}}<br />
        </div>
      </div>
      <div class="col-xs-6 col-md-12">
        <button class="btn btn-link" ng-click="$parent.createShortUrl(group)" ng-hide="items.shortUrl != null">create permalink</button>
        <a class="btn btn-link" href="{{items.shortUrl}}" ng-show="items.shortUrl != null">{{items.shortUrl}}</a>
      </div>
      <div class="col-xs-12">
        <button class="btn btn-link" ng-click="$parent.copyGroup(group)">copy into saved groups</button>
      </div>
      <div class="col-xs-12 col-md-12">
        <h4>combined stats</h4>
      </div>
      <div class="col-xs-5 col-md-12" dnsim-stats stats="$parent.combinedStats[group]" />
      </div>
    </div>
    <div class="row">&nbsp;</div>
  </div>
  <div class="col-xs-12 col-md-9">
    <table class="table">
    <tr class="row" ng-repeat="result in items.items track by $index">
      <td>
      <div class="col-xs-12 col-sm-9">
        <dnsim-item-link item="result" />
      </div>
      <div class="col-xs-12 col-sm-3">
        {{result.rank.name}} level {{result.levelLimit}}
      </div>
      <div class="col-xs-12 col-md-9">
        <span dnsim-stats stats="result.fullStats" alt-stats="result.stats" separator="'|'" />
      </div>
      </td>
    </tr>
    </table>
  </div>
</div>
