<div class="col-xs-12 item-type-grouping">
  <br />
  <button class="btn btn-default" ng-show="ctrl.groupNames.length > 1" ng-dblclick="ctrl.prevGroup()" ng-click="ctrl.prevGroup()">&lt; prev build</button>
  <button class="btn btn-default" ng-show="ctrl.groupNames.length > 1" ng-dblclick="ctrl.nextGroup()" ng-click="ctrl.nextGroup()">next build &gt;</button>

  <div class="row" ng-if="ctrl.groupName">
    <div class="col-xs-12">
      <h4><a href="#/saved/{{ctrl.groupName}}">{{ctrl.groupName}}</a><br /> <small> <span dnsim-stats stats="ctrl.getGroupCalcStats()" separator="'|'" filter="'summaryDisplay'" /> </small> </h4>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12" ng-if="ctrl.selectedIndex == -1">
    click a talisman to change its location
  </div>
  <div class="col-xs-12" ng-if="ctrl.selectedIndex > -1">
    now click where you want to move it or <btn class="btn-link" ng-click="ctrl.selectedIndex = -1">cancel</btn>
  </div>
  <div class="col-xs-12">&nbsp;</div>
</div>


<div class="row" ng-repeat="r in ctrl.rows track by $index">
  <div class="col-xs-3" ng-repeat="c in r track by $index">
    <button class="btn btn-default btn-block" ng-disabled="c == null" ng-click="ctrl.pickup(c.index)" ng-if="ctrl.selectedIndex == -1">
      <div class="row">
      <div style="height: 70px" class="col-xs-12">
        <dnsim-item-link no-click="true" item="c.item" ng-if="c.item" />
      </div>
      <div class="col-xs-12">
        <br /><br />
      </div>
      </div>
    </button>
    
    <button class="btn btn-default btn-block" ng-disabled="ctrl.selectedIndex == c.index" ng-click="ctrl.move(c)" ng-if="ctrl.selectedIndex >= 0">
      <div class="row">
      <div style="height: 70px" class="col-xs-12">
      <dnsim-item-link no-click="true" item="c.item" ng-if="c.item" />
      </div>
      
      <div class="col-xs-12" ng-if="!c.item || ctrl.selectedIndex == c.index">
        <br /><br />
      </div>
      <div class="col-xs-12" ng-if="c.item && ctrl.selectedIndex != c.index">
  
        <span ng-show="ctrl.getReplaceMDmgAffectAmount(c.index, c.item) != 0">
          <b ng-show="ctrl.getReplaceMDmgAffectAmount(c.index, c.item) > 0">increase</b>
          <b ng-show="ctrl.getReplaceMDmgAffectAmount(c.index, c.item) < 0">decreases</b>
          avg mdmg by {{ctrl.getReplaceMDmgAffectAmount(c.index, c.item)}}%
        </span>
        
        <span ng-show="ctrl.getReplacePDmgAffectAmount(c.index, c.item) != 0">
          <b ng-show="ctrl.getReplacePDmgAffectAmount(c.index, c.item) > 0">increase</b>
          <b ng-show="ctrl.getReplacePDmgAffectAmount(c.index, c.item) < 0">decreases</b>
          avg pdmg by {{ctrl.getReplacePDmgAffectAmount(c.index, c.item)}}%
        </span>
        
        <span ng-show="ctrl.getReplaceAvgDmgAffectAmount(c.index, c.item) != 0">
          <b ng-show="ctrl.getReplaceAvgDmgAffectAmount(c.index, c.item) > 0">increase</b>
          <b ng-show="ctrl.getReplaceAvgDmgAffectAmount(c.index, c.item) < 0">decreases</b>
          avg dmg by {{ctrl.getReplaceAvgDmgAffectAmount(c.index, c.item)}}%
        </span>
        <br />
        
        <span ng-show="ctrl.getReplaceHPAffectAmount(c.index, c.item) != 0">
          <b ng-show="ctrl.getReplaceHPAffectAmount(c.index, c.item) > 0">increase</b>
          <b ng-show="ctrl.getReplaceHPAffectAmount(c.index, c.item) < 0">decreases</b>
          eqhp by {{ctrl.getReplaceHPAffectAmount(c.index, c.item)}}%
        </span>
      </div>
      
    </button>
  </div>
  
  <div class="col-xs-12">
    &nbsp;
  </div>
  
</div>