<div class="row">
  <div class="col-sm-4 text-right hidden-xs">
    <h4>
    position talismans for:
    </h4>
  </div>
  <div class="col-xs-12 visible-xs-block">
    <h4>
    position talismans for:
    </h4>
  </div>
  <div class="col-xs-12 col-sm-8">
    <div class="row" ng-if="ctrl.groupName">
      <div class="col-xs-12">
        <h4><a href="../build/{{ctrl.groupName}}">{{ctrl.groupName}}</a><br /> <small> <span dnsim-stats build="ctrl.getBuild()" stats="ctrl.getGroupCalcStats()" separator="'|'" filter="'summaryDisplay'" /> </small> </h4>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12" ng-if="ctrl.selectedIndex == -1">
    <br />
    click a talisman to change its location
  </div>
  <div class="col-xs-12" ng-if="ctrl.selectedIndex > -1">
    <br />
    now click where you want to move it or <btn class="btn-link" ng-click="ctrl.selectedIndex = -1">cancel</btn>
  </div>
  <div class="col-xs-12">&nbsp;</div>
</div>


<div class="row" ng-repeat="r in ctrl.rows track by $index">
  <div class="col-xs-3" ng-repeat="c in r track by $index">
    <div class="row">

    <button class="btn row btn-block btn-default talisman-toggle" ng-disabled="c == null && ctrl.selectedIndex == -1" ng-click="ctrl.click(c)">
      <div class="col-xs-12 col-sm-4 col-md-2 text-center">
        <dnsim-item-icon item="c.item" />
      </div>
      <div class="col-xs-12 col-sm-8 col-md-10" style="height:50px">
        <div dnsim-stats stats="c.item.fullStats" alt-stats="c.item.stats" ng-if="c.index >= 0"></div>
      </div>
      
      <div class="col-xs-12" style="height:70px">
        <small
          ng-if="ctrl.selectedIndex != c.index && ctrl.selectedIndex >= 0 && ctrl.getReplaceAffectAmount(statId, c.index, c.item)"
          ng-repeat="statId in ctrl.summaryStatIds">

          <b ng-if="ctrl.getReplaceAffectAmount(statId, c.index, c.item) > 0">+</b>{{ctrl.getReplaceAffectAmount(statId, c.index, c.item)}}%
          {{ctrl.getStatName(statId)}}
          <br />
        </small>
      </div>
    </button>
    </div>
    <div class="row">&nbsp;</div>
  </div>
  
</div>

<div class="row">  
  <div class="col-xs-12">
    &nbsp;
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-default" ng-click="ctrl.save()">
      <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
      save
    </button>
  </div>
</div>