<div class="row">
  <div class="col-xs-12">
    <button ng-click="buildList.createGroup()" class="btn btn-link btn-block group-header-btn">
      <h3 class="text-left">create a new build<br />
      <small>builds allow you to group items together to see their combined stats</small>
      </h3>
    </button>
  </div>
</div>
<div id="saved-group" class="row" ng-show="buildList.anyItems()" ng-repeat="(buildName, build) in buildList.savedItems track by $index">
  
  <div class="col-xs-12 group-header" id="/builds/{{buildName}}" ng-click="buildList.toggleGroup(buildName)" ng-if="buildName != buildList.currentGroup">
  <button class="btn btn-link btn-block group-header-btn">
    <dngearsim-build-summary build-name="buildName" build="build">
    </dngearsim-build-summary>
  </button>
  </div>
  
  <dngearsim-build build-name="buildName" build="build" ng-if="buildName == buildList.currentGroup" on-change="buildList.handleChange()">
  </dngearsim-build>

</div>