<div class="row" ng-if="!buildList.currentGroup">
  <div class="col-xs-12 col-sm-8 col-lg-9">
  <div class="row">
    <div class="col-xs-12">
      <button ng-click="buildList.createGroup()" class="btn btn-link btn-block group-header-btn">
        <h3 class="text-left"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> create a new build<br />
        <small>builds allow you to group items together and see combined stats</small>
        </h3>
      </button>
    </div>
    <div class="col-xs-12">
      <button ng-click="buildList.publish()" class="btn btn-link btn-block group-header-btn">
        <h3 class="text-left"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> publish<br />
        <small>log in and publish your builds online</small>
        </h3>
      </button>
    </div>
    <div class="col-xs-12">
      <button ng-click="buildList.search()" class="btn btn-link btn-block group-header-btn">
        <h3 class="text-left"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> find a build<br />
        <small>search and view builds published online</small>
        </h3>
      </button>
    </div>
  </div>
  <div id="saved-group" class="row" ng-if="buildList.builds && buildList.builds.length > 0" ng-repeat="b in buildList.builds">
    
    <div class="col-xs-12 group-header">
    <button class="btn btn-link btn-block group-header-btn" ng-click="buildList.toggleGroup(b.name)">
      <dngearsim-build-summary build-name="b.name" build="b.build">
      </dngearsim-build-summary>
    </button>
    </div>
    
  </div>
  </div>
  <div class="hidden-xs col-sm-4 col-lg-3">
    <img src="images/jasmin.png" />
  </div>
</div>
<div class="row" ng-if="buildList.currentGroup">
  <dngearsim-build build-name="buildList.currentGroup" build="buildList.savedItems[buildList.currentGroup]" on-change="buildList.handleChange()">
  </dngearsim-build>
</div>