<div style="float:right;clear: right" ng-if="ctrl.item.itemSource == 'gem'" class="container-fluid">
  <small ng-if="!ctrl.editMode && ctrl.getGemSlotName(ctrl.item)">On {{ctrl.getGemSlotName(ctrl.item)}}</small>
  <button class="btn btn-default" ng-click="ctrl.changingGemSlot = true" ng-show="!ctrl.changingGemSlot" ng-if="ctrl.editMode">set gem slot</button>
  <div ng-show="ctrl.changingGemSlot" class="btn-group-vertical" ng-if="ctrl.editMode">
    <button  ng-class="{'btn': true, 'btn-default': true, 'disabled': ctrl.item.gemSlot == gemSlot.id}" ng-click="ctrl.item.gemSlot = gemSlot.id;ctrl.onChange()" ng-repeat="gemSlot in ctrl.gemSlots track by $index">
      <span>
        {{gemSlot.name}}
      </span>
    </button>
  </div>
</div>
<div style="float:clear">
  <dnsim-item-link item="ctrl.item"></dnsim-item-link>
</div>
<div style="float:left;width: 140px">
  <span dnsim-stats stats="ctrl.item.fullStats" alt-stats="ctrl.item.stats" filter="'dps'" separator="'<br />'" />
</div>
<div style="float:left">
  <span dnsim-stats stats="ctrl.item.fullStats" alt-stats="ctrl.item.stats" filter="'def'" separator="'<br />'" />
</div>
<div style="clear: both" ng-if="ctrl.editMode" class="container-fluid">
  <dngearsim-item-edit item="ctrl.item" on-change="ctrl.onChange()" update-item="ctrl.updateItem()"></dngearsim-item-edit>
  <br />
</div>
<div ng-if="ctrl.editMode" style="float:right">
  <button class="btn btn-default" ng-click="ctrl.onChange()">
    apply
  </button>
  <button class="btn btn-default" ng-click="ctrl.cancelEdit()">
    cancel
  </button>
</div>