<button class="btn btn-default" ng-click="buildActions.copyGroup()">
copy
</button>
<button class="btn btn-default" ng-click="buildActions.editGroup()">
edit
</button>
<button class="btn btn-default" ng-click="buildActions.reloadGroup()">
reload
</button> 
<button class="btn btn-default" ng-click="buildActions.deleteGroup()">
delete
</button>
<a class="btn btn-default" ng-href="publish">
publish
</a>
<span>&nbsp;</span>
<button style="margin-top:12px" class="btn btn-link" ng-click="buildActions.createShortUrl()" ng-hide="buildActions.build.shortUrl != null">create permalink</button>
<a style="margin-top:12px" class="btn btn-link" ng-href="{{buildActions.build.shortUrl}}" ng-if="buildActions.build.shortUrl != null">{{buildActions.build.shortUrl}}</a>