<div class="row table-look" ng-repeat="(exchange, subCat) in buildCtrl.getSubCategories() track by $index" ng-class="{'dnsim-card': subCat}">
    <!-- subcategory summary -->
    <span style="float:right" ng-if="subCat && !buildCtrl.moveItem">
        {{buildCtrl.getNumTaken(subCat)}}/{{subCat.slots}} equipped
    </span>
    <em ng-if="subCat && !buildCtrl.moveItem" ng-repeat="subCatName in subCat.names track by $index">
        {{subCatName}}<br />
    </em>

    <!-- buttons to move to/from the subcategory -->
    <button 
        class="btn btn-defualt btn-block dnsim-card"
        ng-if="subCat && buildCtrl.moveItem && buildCtrl.isInSubCat(buildCtrl.moveItem, subCat)"
        ng-click="buildCtrl.move(buildCtrl.moveItem, subCat);buildCtrl.moveItem = null;">
        <span style="float:right">
        {{buildCtrl.getNumTaken(subCat)}}/{{subCat.slots}} equipped
        </span>
        keep on<br />
        <em ng-repeat="subCatName in subCat.names track by $index">
        {{subCatName}}<br />
        </em>
    </button>
    <button 
        class="btn btn-defualt btn-block dnsim-card"
        ng-if="subCat && buildCtrl.moveItem && !buildCtrl.isInSubCat(buildCtrl.moveItem, subCat)"
        ng-click="buildCtrl.move(buildCtrl.moveItem, subCat);buildCtrl.moveItem = null;">
        <span style="float:right">
        {{buildCtrl.getNumTaken(subCat)}}/{{subCat.slots}} equipped
        </span>
        move to<br />
        <em ng-repeat="subCatName in subCat.names track by $index">
        {{subCatName}}<br />
        </em>
    </button>

    <!-- quick add -->
    <div ng-if="subCat && !buildCtrl.moveItem && buildCtrl.getNumTaken(subCat) < subCat.slots">
        <dngearsim-quick-add gem-slot="buildCtrl.getGemSlot(subCat)" build="buildCtrl.build" build-name="::buildCtrl.buildName" category="buildCtrl.category" on-change="buildCtrl.handleChange()" ng-if="buildCtrl.allowMoreItems()"></dngearsim-quick-add>
    </div>

    <!-- moving label -->
    <span ng-if="buildCtrl.moveItem && buildCtrl.isInSubCat(buildCtrl.moveItem, subCat)">moving:</span>

    <!-- moving item -->
    <dngearsim-build-item item="buildCtrl.moveItem" ng-if="buildCtrl.moveItem && buildCtrl.isInSubCat(buildCtrl.moveItem, subCat)" on-change="buildCtrl.handleItemEdit()" cancel-edit="buildCtrl.cancelEdit()"></dngearsim-build-item>

    <!--items within the subcategory -->
    <div class="col-xs-12 dnsim-card dnsim-disolve" ng-repeat="result in buildCtrl.getCategoryItems()" ng-if="buildCtrl.isInSubCat(result, subCat) && !buildCtrl.moveItem">
        <dngearsim-build-item item="result" on-change="buildCtrl.handleItemEdit()" cancel-edit="buildCtrl.cancelEdit()" edit-mode="buildCtrl.editItem == result"></dngearsim-build-item>
        <div ng-if="!buildCtrl.server && buildCtrl.editItem != result" style="float:right">
        <button class="btn btn-default" ng-click="buildCtrl.moveItem = result" ng-if="buildCtrl.canMove() && !buildCtrl.moveItem">
            move
        </button>
        <button class="btn btn-default" ng-click="buildCtrl.editItem = result" ng-if="buildCtrl.canEdit(result) && !buildCtrl.moveItem">
            edit
        </button>
        <button class="btn btn-default" ng-click="buildCtrl.removeItem(result);" ng-if="!buildCtrl.moveItem">
            remove
        </button>
        </div>
    </div>
</div>