<div class="col-xs-12" id="/builds/{{buildCtrl.buildName}}">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-7 group-header" ng-click="buildCtrl.toggleGroup()">
      <button class="btn btn-link btn-block group-header-btn">
        <h3 class="text-left">
        <dnsim-job-icon item="buildCtrl.build.job"></dnsim-job-icon>
        {{buildCtrl.buildName}}
        <small>
          <span ng-show="buildCtrl.build.playerLevel > 0">lv{{buildCtrl.build.playerLevel}}&nbsp;</span><span ng-show="buildCtrl.build.job && buildCtrl.build.job.id > 0">{{buildCtrl.build.job.name}}&nbsp;</span><span ng-show="buildCtrl.build.enemyLevel > 0">vs&nbsp;lv{{buildCtrl.build.enemyLevel}}&nbsp;</span>
          <br />
          {{buildCtrl.getSaveDate()}} {{buildCtrl.getSaveTime()}}<span class="hidden-xs"> | </span><br class="visible-xs" />
          <span dnsim-stats build="buildCtrl.build" stats="buildCtrl.stats.calculatedStats" separator="'|'" filter="'summaryDisplay'" />
        </small>
        </h3>
      </button>
    </div>
    <dnsim-loading>
    <div class="col-xs-12 col-md-6 col-lg-5">
      <br class="hidden-xs hidden-sm" /><br class="hidden-xs hidden-sm" />
      <dngearsim-build-actions build-name="buildCtrl.buildName" build="buildCtrl.build" on-change="buildCtrl.handleChange()">
      </dngearsim-build-actions>
    </div>
    <div class="col-xs-6" ng-show="buildCtrl.stats.calculatedStats.length == 0">
    </div>
    <div class="col-xs-10 col-md-12 alert alert-danger" role="alert" ng-if="buildCtrl.stats.calculatedStats.length == 0 || buildCtrl.stats.nakedStats.length == 0">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> 
      you must edit the build and set both level and class
    </div>
    
    <div class="col-xs-12 col-md-10">
      <br />
      <div class="row">
        <div class="col-xs-4 col-md-2">
          <div class="row">
            <div class="col-xs-12 group-header" ng-repeat="cat in buildCtrl.getCategories() track by $index">
              <button ng-class="{'btn btn-block selected-link': cat.name == buildCtrl.category.name, 'btn btn-block btn-link': cat.name != buildCtrl.category.name}" ng-click="buildCtrl.setSelectedCategory(cat.name)">
                <p class="text-left">
                  {{cat.name}}
                  </p>
              </button>
            </div>
          </div>
        </div>
    
        <div class="col-xs-8 col-md-10">
          <div class="row">
            <table class="table">
              
              <tr><th>{{buildCtrl.getItemCount()}}</th></tr>
              
              <tr><th>
                <dngearsim-quick-add build="buildCtrl.build" build-name="buildCtrl.buildName" category="buildCtrl.category" on-change="buildCtrl.handleChange()" ng-if="buildCtrl.allowMoreItems()"></dngearsim-quick-add>
                <span ng-if="buildCtrl.category.name == 'talisman'"> |
                  <a href="#talismans">
                    <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
                    set talisman positions
                  </a>
                </span>
              </th></tr>
              
              <tr ng-repeat="result in buildCtrl.getCategoryItems() track by $index">
                <td><dngearsim-build-item build="buildCtrl.build" build-name="buildCtrl.buildName" item="result" on-change="buildCtrl.handleChange()"></dngearsim-build-item></td>
              </tr>
              
              <tr><th>
                  <a href="#/{{buildCtrl.category.path}}">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    search {{buildCtrl.category.name}}
                  </a>
              </th></tr>
              
            </table>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-xs-12 col-md-2 group-header">
      <div class="row">
       <dngearsim-build-stats stats="buildCtrl.stats" build="buildCtrl.build">
       </dngearsim-build-stats>
      </div>
    </div>
    </dnsim-loading>
  </div>
</div>