<div class="col-xs-12" id="/build/{{::buildCtrl.buildName}}">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-7 group-header" ng-if="::!buildCtrl.server">
        <h3 class="text-left">
        <dnsim-job-icon item="::buildCtrl.build.job"></dnsim-job-icon>
        {{::buildCtrl.buildName}}
        <small>
          <span ng-show="::buildCtrl.build.playerLevel > 0">lv{{::buildCtrl.build.playerLevel}}&nbsp;</span>
          <span ng-show="::buildCtrl.build.job && buildCtrl.build.job.id > 0">{{::buildCtrl.build.job.name}}&nbsp;</span>
          <span ng-show="::buildCtrl.build.enemyLevel > 0">vs&nbsp;lv{{::buildCtrl.build.enemyLevel}}&nbsp;</span>
          <br />
          {{::buildCtrl.getSaveDate()}} {{::buildCtrl.getSaveTime()}}<span class="hidden-xs"> </span><br />
          <span dnsim-stats build="buildCtrl.build" stats="buildCtrl.stats.calculatedStats" separator="'|'" filter="'summaryDisplay'" />
        </small>
        </h3>
    </div>
    <dnsim-loading>
    <div class="col-xs-12 col-md-6 col-lg-5" ng-if="::!buildCtrl.server">
      <br class="hidden-xs hidden-sm" /><br class="hidden-xs hidden-sm" />
      <dngearsim-build-actions build-name="::buildCtrl.buildName" build="::buildCtrl.build" on-change="buildCtrl.handleChange()">
      </dngearsim-build-actions>
    </div>
    <div class="col-xs-6" ng-show="::buildCtrl.stats.calculatedStats.length == 0">
    </div>
    <div class="col-xs-10 col-md-12 alert alert-danger" role="alert" ng-if="buildCtrl.stats.calculatedStats.length == 0 || buildCtrl.stats.nakedStats.length == 0">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> 
      you must edit the build and set both level and class
    </div>
    
    <div class="col-xs-12 col-md-10">
      <br />
      <div class="row">
        <div class="col-xs-12 visible-xs-block">
          <dnsim-category-links collapse="true" cat="buildCtrl.category" />
        </div>
        <div class="hidden-xs col-sm-4 col-md-3">
          <dnsim-category-links cat="buildCtrl.category" />
        </div>
    
        <div class="col-xs-12 col-sm-8 col-md-9">
          <div class="row table-look">
            <div class="col-xs-12" ng-if="::!buildCtrl.server">
              <dngearsim-quick-add build="buildCtrl.build" build-name="::buildCtrl.buildName" category="buildCtrl.category" on-change="buildCtrl.handleChange()" ng-if="buildCtrl.allowMoreItems()"></dngearsim-quick-add>
              <span ng-if="buildCtrl.category.name == 'talisman'">&nbsp;|&nbsp;
                <a class="btn btn-link" ng-href="talismans">
                  <span class="glyphicon glyphicon-move" aria-hidden="true"></span>&nbsp;position
                </a>
              </span>
              <span style="float:right">
              <strong>{{buildCtrl.getItemCount()}}</strong>
              </span>
            </div>
          </div>
          <div class="row table-look">
            <div class="col-xs-12 dnsim-card" ng-repeat="result in buildCtrl.getCategoryItems() track by $index">
              <dngearsim-build-item item="result"></dngearsim-build-item>
              <div ng-if="!buildCtrl.server" style="float:right">
                <button class="btn btn-default" ng-click="buildCtrl.removeItem(result);">
                  remove
                </button>
              </div>
            </div>
          </div>
          <div class="row table-look">
            <div class="col-xs-12" ng-if="::!buildCtrl.server">
              <a ng-href="{{buildCtrl.category.path}}">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                search {{buildCtrl.category.name}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-xs-12 col-md-2 group-header">
      <div class="row">
       <dngearsim-build-stats stats="buildCtrl.stats" build="::buildCtrl.build">
       </dngearsim-build-stats>
      </div>
    </div>
    </dnsim-loading>
  </div>
</div>