<dnsim-loading>
  <div class="row">
    <div class="col-xs-12">
      <button ng-click="buildList.createGroup()" class="btn btn-link btn-block group-header-btn">
        <h3 class="text-left">create a new build<br />
        <small>builds allow you to group items together to see their combined stats</small>
        </h3>
      </button>
    </div>
  </div>
  <div id="saved-group" class="row" ng-show="buildList.anyItems()" ng-repeat="(buildName, build) in buildList.savedItems track by $index">
    
    <dngearsim-build-summary build-name="buildName" build="build" ng-if="buildName != buildList.currentGroup">
    </dngearsim-build-summary>
    
    <dngearsim-build build-name="buildName" build="build" ng-if="buildName == buildList.currentGroup">
    </dngearsim-build>

  </div>
</dnsim-loading>