<dnsim-loading>
  
<dnsim-choose-class ng-if="!editGroup.job" job="editGroup.job" on-set-job="editGroup.setJob()"></dnsim-choose-class>
<div class="row" ng-show="editGroup.job">
  <div class="col-xs-12">
    <h2>
      <dnsim-job-icon item="::editGroup.job"></dnsim-job-icon>
      {{editGroup.job.name}}
      <small>
        <button class="btn btn-link" ng-click="editGroup.job=null">
        &raquo;{{'change class/specialisation' | translate}}
        </button>
      </small>
    </h2>
  </div>
  <div class="col-xs-12 col-md-3 ng-class: {'bg-danger' : editGroup.invalidGroupName()};">
    <label>{{'build name' | translate}}
    </label>
    <input type="text" class="form-control" id="groupNameInput" ng-model="editGroup.groupName" ng-keyup="$event.keyCode == 13 ? ok() : null" />
  </div>
  <div class="col-xs-4 col-md-3">
    <label>{{'enemy&nbsp;lvl' | translate}}
    </label>
    <input class="form-control" ng-model="editGroup.enemyLevel" ng-keyup="$event.keyCode == 13 ? ok() : null" type="number" dnsim-string-to-number step="any" />
  </div>
  <div class="col-xs-4 col-md-3">
    <label>{{'player&nbsp;lvl' | translate}}
    </label>
    <input class="form-control" ng-model="editGroup.playerLevel" ng-keyup="$event.keyCode == 13 ? ok() : null" type="number" dnsim-string-to-number step="any" />
  </div>
  <div class="col-xs-4 col-md-3">
    <label>{{'hero&nbsp;lvl' | translate}}
    </label>
    <input class="form-control" ng-model="editGroup.heroLevel" ng-keyup="$event.keyCode == 13 ? ok() : null" type="number" dnsim-string-to-number step="any" ng-change="editGroup.setHeroStats()" />
  </div>
  <div class="hidden-xs hidden-sm col-md-3">
  </div>
  <div class="col-xs-4 col-md-3">
    <label>{{'damage type' | translate}}: 
    </label>
    <select ng-model="editGroup.damageType" class="form-control"
     ng-options="damage.name for damage in editGroup.damageTypes track by damage.id">
    </select>
  </div>
  <div class="col-xs-4 col-md-3">
    <label>{{'primary element' | translate}}: 
    </label>
    <select ng-model="editGroup.element" class="form-control"
     ng-options="element.name for element in editGroup.elements track by element.id">
    </select>
  </div>
  <div class="col-xs-4 col-md-3">
    <label>{{'secondary element' | translate}}: 
    </label>
    <select ng-model="editGroup.secondaryElement" class="form-control"
     ng-options="element.name for element in editGroup.elements track by element.id">
    </select>
  </div>
  <div class="hidden-xs hidden-sm col-md-3">
  </div>
  <div class="col-xs-4 col-md-3">
  </div>
  <div class="col-xs-4 col-md-3">
    <label>{{'enemy crit resist&nbsp;(%)' | translate}}:
    </label>
    <input class="form-control" ng-model="editGroup.critResist" ng-keyup="$event.keyCode == 13 ? ok() : null" type="number" dnsim-string-to-number step="any" />
  </div>
  <div class="col-xs-4 col-md-3">
    <label>{{'enemy ele resist&nbsp;(%)' | translate}}:
    </label>
    <input class="form-control" ng-model="editGroup.eleResist" ng-keyup="$event.keyCode == 13 ? ok() : null" type="number" dnsim-string-to-number step="any" />
  </div>
</div>
<br />
<div class="row" ng-if="editGroup.job">
  <div class="col-xs-4 col-md-3">
    <button class="btn btn-default" ng-click="editGroup.ok()" ng-disabled="editGroup.invalidGroupName()">
      <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
      {{'save' | translate}}
    </button>
  </div>
  <div class="col-xs-8 col-md-9">
    <label>{{'stat caps' | translate}}</label>
    <p>
{{'fd'| translate}}:&nbsp;{{editGroup.getStatCap('Cfinaldamage', editGroup.enemyLevel) }} |
{{'def'| translate}}:&nbsp;{{editGroup.getStatCap('Cdefense', editGroup.enemyLevel) }} |
{{'crit'| translate}}:&nbsp;{{editGroup.getStatCap('Ccritical', editGroup.enemyLevel) }} |
{{'crit dmg'| translate}}:&nbsp;{{editGroup.getStatCap('CcriticalDamage', editGroup.playerLevel) }}
    </p>
    <label>{{'hero level stats' | translate}}</label>
    <p>
      <span dnsim-stats separator="'|'" stats="editGroup.heroStats" />
    </p>
    <label>{{'naked stats' | translate}}</label>
    <p>
{{'str'| translate}}:&nbsp;{{editGroup.getJobBaseStat('Strength')}} |
{{'agi'| translate}}:&nbsp;{{editGroup.getJobBaseStat('Agility')}} |
{{'int'| translate}}:&nbsp;{{editGroup.getJobBaseStat('Intelligence')}} |
{{'vit'| translate}}:&nbsp;{{editGroup.getJobBaseStat('Stamina')}} |
{{'mp'| translate}}:&nbsp;{{editGroup.getJobBaseStat('BaseMP')}} |
{{'aggro'| translate}}:&nbsp;{{editGroup.getJobBaseStat('AggroperPvE')}}
    </p>
    <label>{{'stat affects' | translate}}</label>
    <p>
{{'vit&nbsp;to&nbsp;hp'| translate}}:&nbsp;{{editGroup.getJobConversion('HP')}} |
{{'str&nbsp;to&nbsp;pdmg'| translate}}:&nbsp;{{editGroup.getJobConversion('StrengthAttack') | number:2}} |
{{'agi&nbsp;to&nbsp;pdmg'| translate}}:&nbsp;{{editGroup.getJobConversion('AgilityAttack') | number:2}} |
{{'int&nbsp;to&nbsp;mdmg'| translate}}:&nbsp;{{editGroup.getJobConversion('IntelligenceAttack') | number:2}} |
{{'vit&nbsp;to&nbsp;pdef'| translate}}:&nbsp;{{editGroup.getJobConversion('PhysicalDefense') | number:2}} |
{{'int&nbsp;to&nbsp;mdef'| translate}}:&nbsp;{{editGroup.getJobConversion('MagicDefense') | number:2}} |
{{'agi&nbsp;to&nbsp;crit'| translate}}:&nbsp;{{editGroup.getJobConversion('Critical')}} |
{{'str&nbsp;int&nbsp;to&nbsp;cdmg'| translate}}:&nbsp;{{editGroup.getJobConversion('StrengthIntelligenceToCriticalDamage')}}
    </p>
  </div>
</div>
</dnsim-loading>