<dnsim-loading>

<div class="row">
  <div class="col-xs-12">
    <br />
  </div>
</div>
  
<div class="row">
  <div class="col-xs-12 ng-class: {'bg-danger' : editGroup.invalidGroupName()};">
    <label>build name
    </label>
    <input type="text" class="form-control" id="groupNameInput" ng-model="editGroup.groupName" autofocus ng-keyup="$event.keyCode == 13 ? ok() : null" />
  </div>
  <div class="col-xs-4 col-md-2">
    <label>enemy&nbsp;lvl
    </label>
    <input class="form-control" ng-model="editGroup.enemyLevel" autofocus ng-keyup="$event.keyCode == 13 ? ok() : null" type="number" dnsim-string-to-number step="any" />
  </div>
  <div class="col-xs-4 col-md-2">
    <label>player&nbsp;lvl
    </label>
    <input class="form-control" ng-model="editGroup.playerLevel" autofocus ng-keyup="$event.keyCode == 13 ? ok() : null" type="number" dnsim-string-to-number step="any" />
  </div>
  <div class="col-xs-4 col-md-2">
    <label>hero&nbsp;lvl
    </label>
    <input class="form-control" ng-model="editGroup.heroLevel" autofocus ng-keyup="$event.keyCode == 13 ? ok() : null" type="number" dnsim-string-to-number step="any" ng-change="editGroup.setHeroStats()" />
  </div>
  <div class="col-xs-12 col-md-6">
    <label>class: 
    </label>
    <select ng-model="editGroup.job" class="form-control"
     ng-options="job.name for job in editGroup.jobs track by job.id">
    </select>
  </div>
  <div class="col-xs-6">
    <label>damage type: 
    </label>
    <select ng-model="editGroup.damageType" class="form-control"
     ng-options="damage.name for damage in editGroup.damageTypes track by damage.id">
    </select>
  </div>
  <div class="col-xs-6">
    <label>element: 
    </label>
    <select ng-model="editGroup.element" class="form-control"
     ng-options="element.name for element in editGroup.elements track by element.id">
    </select>
  </div>
</div>

<div class="row" ng-hide="editGroup.isLoading()">
  <div class="col-xs-12">
    <label>stat caps</label>
    <p>
cbase:&nbsp;{{editGroup.getStatCap('Cbase', editGroup.enemyLevel) }} |
fd:&nbsp;{{editGroup.getStatCap('Cfinaldamage', editGroup.enemyLevel) }} |
def:&nbsp;{{editGroup.getStatCap('Cdefense', editGroup.playerLevel) }} |
crit:&nbsp;{{editGroup.getStatCap('Ccritical', editGroup.enemyLevel) }} |
crit dmg:&nbsp;{{editGroup.getStatCap('CcriticalDamage', editGroup.enemyLevel) }}
    </p>
    <label>hero level stats</label>
    <p>
      <span dnsim-stats separator="'|'" stats="editGroup.heroStats" />
    </p>
    <label>naked stats</label>
    <p>
str:&nbsp;{{editGroup.getJobBaseStat('Strength')}} |
agi:&nbsp;{{editGroup.getJobBaseStat('Agility')}} |
int:&nbsp;{{editGroup.getJobBaseStat('Intelligence')}} |
vit:&nbsp;{{editGroup.getJobBaseStat('Stamina')}} |
mp:&nbsp;{{editGroup.getJobBaseStat('BaseMP')}} |
aggro:&nbsp;{{editGroup.getJobBaseStat('AggroperPvE')}}
    </p>
    <label>stat affects</label>
    <p>
vit&nbsp;to&nbsp;hp:&nbsp;{{editGroup.getJobConversion('HP')}} |
str&nbsp;to&nbsp;pdmg:&nbsp;{{editGroup.getJobConversion('StrengthAttack') | number:2}} |
agi&nbsp;to&nbsp;pdmg:&nbsp;{{editGroup.getJobConversion('AgilityAttack') | number:2}} |
int&nbsp;to&nbsp;mdmg:&nbsp;{{editGroup.getJobConversion('IntelligenceAttack') | number:2}} |
vit&nbsp;to&nbsp;pdef:&nbsp;{{editGroup.getJobConversion('PhysicalDefense') | number:2}} |
int&nbsp;to&nbsp;mdef:&nbsp;{{editGroup.getJobConversion('MagicDefense') | number:2}} |
agi&nbsp;to&nbsp;crit:&nbsp;{{editGroup.getJobConversion('Critical')}} |
str&nbsp;int&nbsp;to&nbsp;cdmg:&nbsp;{{editGroup.getJobConversion('StrengthIntelligenceToCriticalDamage')}}
<!--
agi&nbsp;to&nbsp;crit&nbsp;resist:&nbsp;{{editGroup.getJobConversion('CriticalResistance') | number:2}} |
Stiff:&nbsp;{{editGroup.getJobConversion('Stiff') | number:2}} |
StiffResist:&nbsp;{{editGroup.getJobConversion('StiffResistance') | number:2}} |
Stun:&nbsp;{{editGroup.getJobConversion('Stun') | number:2}} |
StunResist:&nbsp;{{editGroup.getJobConversion('StunResistance') | number:2}} |
MoveSpeed:&nbsp;{{editGroup.getJobConversion('MoveSpeed')}} |
MoveSpeedRevision:&nbsp;{{editGroup.getJobConversion('MoveSpeedRevision')}} |
DownDelay:&nbsp;{{editGroup.getJobConversion('DownDelay')}} |
ElementAttack:&nbsp;{{editGroup.getJobConversion('ElementAttack')}} |
ElementDefense:&nbsp;{{editGroup.getJobConversion('ElementDefense')}} |
ElementDefMin:&nbsp;{{editGroup.getJobConversion('ElementDefenseMin')}} |
ElementDefMax:&nbsp;{{editGroup.getJobConversion('ElementDefenseMax')}} |
-->
    </p>
  </div>
</div>
 
<div class="row">
  <div class="col-xs-12">
    <br />
    <button class="btn btn-default" ng-click="editGroup.ok()" ng-disabled="editGroup.invalidGroupName()">
      <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
      save
    </button>
  </div>
</div>
</dnsim-loading>