<dnsim-loading>
  
<dnsim-choose-class ng-show="!editGroup.job" job="editGroup.job" on-set-job="setJob()"></dnsim-choose-class>
<div class="row" ng-show="editGroup.job">
  <div class="col-xs-12">
    <h2>
      <dnsim-job-icon item="::editGroup.job"></dnsim-job-icon>
      {{editGroup.job.name}} <small><button class="btn btn-link" ng-click="editGroup.job=null">change class/specialisation</button></small>
    </h2>
  </div>
  <div class="col-xs-12 col-md-3 ng-class: {'bg-danger' : editGroup.invalidGroupName()};">
    <label>build name
    </label>
    <input type="text" class="form-control" id="groupNameInput" ng-model="editGroup.groupName" ng-keyup="$event.keyCode == 13 ? ok() : null" />
  </div>
  <div class="col-xs-4 col-md-3">
    <label>enemy&nbsp;lvl
    </label>
    <input class="form-control" ng-model="editGroup.enemyLevel" ng-keyup="$event.keyCode == 13 ? ok() : null" type="number" dnsim-string-to-number step="any" />
  </div>
  <div class="col-xs-4 col-md-3">
    <label>player&nbsp;lvl
    </label>
    <input class="form-control" ng-model="editGroup.playerLevel" ng-keyup="$event.keyCode == 13 ? ok() : null" type="number" dnsim-string-to-number step="any" />
  </div>
  <div class="col-xs-4 col-md-3">
    <label>hero&nbsp;lvl
    </label>
    <input class="form-control" ng-model="editGroup.heroLevel" ng-keyup="$event.keyCode == 13 ? ok() : null" type="number" dnsim-string-to-number step="any" ng-change="editGroup.setHeroStats()" />
  </div>
  <div class="hidden-xs hidden-sm col-md-3">
  </div>
  <div class="col-xs-4 col-md-3">
    <label>damage type: 
    </label>
    <select ng-model="editGroup.damageType" class="form-control"
     ng-options="damage.name for damage in editGroup.damageTypes track by damage.id">
    </select>
  </div>
  <div class="col-xs-4 col-md-3">
    <label>primary element: 
    </label>
    <select ng-model="editGroup.element" class="form-control"
     ng-options="element.name for element in editGroup.elements track by element.id">
    </select>
  </div>
  <div class="col-xs-4 col-md-3">
    <label>secondary element: 
    </label>
    <select ng-model="editGroup.secondaryElement" class="form-control"
     ng-options="element.name for element in editGroup.elements track by element.id">
    </select>
  </div>
</div>
<br />
<div class="row" ng-if="editGroup.job">
  <div class="col-xs-4 col-md-3">
    <button class="btn btn-default" ng-click="editGroup.ok()" ng-disabled="editGroup.invalidGroupName()">
      <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
      save
    </button>
  </div>
  <div class="col-xs-8 col-md-9">
    <label>stat caps</label>
    <p>
fd:&nbsp;{{editGroup.getStatCap('Cfinaldamage', editGroup.enemyLevel) }} |
def:&nbsp;{{editGroup.getStatCap('Cdefense', editGroup.enemyLevel) }} |
crit:&nbsp;{{editGroup.getStatCap('Ccritical', editGroup.enemyLevel) }} |
crit dmg:&nbsp;{{editGroup.getStatCap('CcriticalDamage', editGroup.playerLevel) }}
    </p>
    <label>hero level stats</label>
    <p>
      <span dnsim-stats separator="'|'" stats="editGroup.heroStats" />
    </p>
    <label>naked stats</label>
    <p>
str:&nbsp;{{editGroup.getJobBaseStat('Strength')}} |
agi:&nbsp;{{editGroup.getJobBaseStat('Agility')}} |
int:&nbsp;{{editGroup.getJobBaseStat('Intelligence')}} |
vit:&nbsp;{{editGroup.getJobBaseStat('Stamina')}} |
mp:&nbsp;{{editGroup.getJobBaseStat('BaseMP')}} |
aggro:&nbsp;{{editGroup.getJobBaseStat('AggroperPvE')}}
    </p>
    <label>stat affects</label>
    <p>
vit&nbsp;to&nbsp;hp:&nbsp;{{editGroup.getJobConversion('HP')}} |
str&nbsp;to&nbsp;pdmg:&nbsp;{{editGroup.getJobConversion('StrengthAttack') | number:2}} |
agi&nbsp;to&nbsp;pdmg:&nbsp;{{editGroup.getJobConversion('AgilityAttack') | number:2}} |
int&nbsp;to&nbsp;mdmg:&nbsp;{{editGroup.getJobConversion('IntelligenceAttack') | number:2}} |
vit&nbsp;to&nbsp;pdef:&nbsp;{{editGroup.getJobConversion('PhysicalDefense') | number:2}} |
int&nbsp;to&nbsp;mdef:&nbsp;{{editGroup.getJobConversion('MagicDefense') | number:2}} |
agi&nbsp;to&nbsp;crit:&nbsp;{{editGroup.getJobConversion('Critical')}} |
str&nbsp;int&nbsp;to&nbsp;cdmg:&nbsp;{{editGroup.getJobConversion('StrengthIntelligenceToCriticalDamage')}}
    </p>
  </div>
</div>
</dnsim-loading>