<dnsim-loading>
<button class="btn btn-link" ng-if="!quickAdd.hasStarted() && quickAdd.hasOptions()" ng-click="quickAdd.start()">
<span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
  quick add <span ng-if="quickAdd.gemSlot">here</span>
</button>
<div class="row" ng-if="quickAdd.hasStarted()">
  <div class="col-xs-12">
    <button class="btn btn-link" ng-click="quickAdd.back()" ng-disabled="quickAdd.stepNumber == 0">&lt; back</button>
    |
    <button class="btn btn-link" ng-click="quickAdd.cancel()">cancel</button>
  </div>
  <div class="col-xs-12">
    quick add:
    <span ng-repeat="data in quickAdd.datas track by $index">
      {{data.value.name}}
    </span>&nbsp;
  </div>
  <div class="col-xs-12">
    <span ng-if="quickAdd.options.length == 0">
      no matching items found...
    </span>
      
    <button class="btn btn-default btn-block dnsim-card" ng-click="quickAdd.selectOption(option)" ng-repeat="option in quickAdd.options track by $index">
      <span ng-if="option.name">
        {{option.name}}
      </span>
      <div ng-if="option.stats != null" style="margin: auto" class="text-left">
        <div style="width: 100px;float: left;min-height:10px" class="hidden-xs">
          &nbsp;
        </div>
        <div style="width: 140px;float: left;min-height:10px">
          <span dnsim-stats stats="option.stats" filter="'dps'" separator="'<br />'" />
        </div>
        <div style="float: left">
          <span dnsim-stats stats="option.stats" filter="'def'" separator="'<br />'" />
        </div>
      </div>
    </button>
  </div>
</div>
</dnsim-loading>