<dnsim-loading>
<div ng-if="!ctrl.reloaded">
<h2>reload build?<br /><small>{{ctrl.name}}</small></h2>
    <p>Are you sure you want to reload this build?</p>
    <p>This will update stats of all items using data of the selected region. Items not in this region may be lost.</p>
    
    <p>
    <button class="btn btn-default" ng-click="ctrl.reload()"><span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> reload</button>
    </p>
</div>
</dnsim-loading>
<div ng-if="ctrl.reloaded">
    <br />
    reload complete<br /><br />
    <button class="btn btn-default" ng-click="ctrl.goToBuild()"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> back</button>
</div>