<div class="row" ng-hide="anyItems">
  <div class="col-xs-12">
  nothing saved
  </div>
</div>
<div id="savedGroup">
<dnsim-loading>
  <div class="col-xs-12">
    <a class="btn btn-link" ng-href="{{build.shortUrl}}" ng-show="build.shortUrl != null">
      {{build.shortUrl}}
    </a>
  </div>
  
  <dngearsim-build-summary build-name="buildName" build="build">
  </dngearsim-build-summary>

  <div class="col-xs-12">
    <button class="btn btn-default" ng-click="copyGroup()">
      <span class="glyphicon glyphicon-save-file">
      </span>
      copy into saved groups
    </button>
    <br />
    <br />
  </div>
  <div class="col-xs-12 col-md-2 group-header">
    <div class="row">
     <dngearsim-build-stats stats="stats">
     </dngearsim-build-stats>
    </div>
  </div>
  <div class="col-xs-12 col-md-10">
    <table class="table">
    <tr class="row" ng-repeat="result in build.items track by $index">
      <td>
      <div class="col-xs-12">
        <dnsim-item-link item="result" />
      </div>
      <div class="col-xs-12">
        <span dnsim-stats stats="result.fullStats" alt-stats="result.stats" separator="'|'" />
      </div>
      </td>
    </tr>
    </table>
  </div>
</dnsim-loading>
</div>