body {
  background: url(images/background.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.chunkyness {
  background-color: #070506;
  opacity: 0.8;
  filter: alpha(opacity=80);
  border-color: #8d8578;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
}
.modal-content {
  opacity: 0.95;
  filter: alpha(opacity=95);
  border-color: #8d8578;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
}
.normal-grade {
  color: #8d8578;
}
.-grade {
  color: #8d8578;
}
.magic-grade {
  color: #4a5510;
}
.rare-grade {
  color: #5891c1;
}
.epic-grade {
  color: #cc782f;
}
.unique-grade {
  color: #6119a9;
}
.legendary-grade {
  color: #dc2355;
}
.modal-loading {
  background: url(images/loading.gif) no-repeat center center;
  height: 147px;
  background-size:contain;
}
.loading {
  background: url(images/loading.gif) no-repeat center center;
  background-size:contain;
  height: 147px;
  border-color: #8d8578;
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
}
.btn {
white-space:normal !important;
word-wrap:break-word;
word-break: normal;
}
.btn-link {
  padding: 0px;
}
.dark-toggle {
  float: left;
  display: block;
  background: url(images/dark_toggle.png) no-repeat center center;
  height: 25px;
  width: 45px;
  margin-left: 2px;
  margin-right: 2px;
  color: #8d8578;
  border-style: none;
  font-size: 50%;
}
.light-toggle {
  float: left;
  display: block;
  background: url(images/light_toggle.png) no-repeat center center;
  height: 25px;
  width: 45px;
  margin-left: 2px;
  margin-right: 2px;
  color: white;
  border-style: none;
  font-size: 50%;
}
.toggle-text {
  background-color: #070506;
  float: left;
  display: block;
  height: 25px;
  color: white;
  border-style: none;
  font-size: 70%;
  border-color: #070506;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
}
.flag {
  float: right;
  display: block;
  background: url(images/flag.png) no-repeat center center;
  height: 34px;
  width: 40px; 
  border-style: none;
}
.toggle-box {
  display: inline;
  float: right;
  background-color: #070506;
  border-color: #8d8578;
  border-style: solid;
  border-width: 3px;
  border-radius: 10px;
}

.no-region {
	position: relative;
	background: #070506;
	border: 4px solid #8d8578;
  opacity: 0.8;
  filter: alpha(opacity=80);
  float: right;
  height: 140px;
  width: 180px;
  color: #777;
  text-align: center;
}
.no-region:after, .no-region:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.no-region:after {
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: #070506;
	border-width: 30px;
	margin-left: -30px;
}
.no-region:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #8d8578;
	border-width: 36px;
	margin-left: -36px;
}
.item-type-grouping {
  border-top-color: #8d8578;
  border-top-style: solid;
  border-top-width: 5px;
}
.header-title {
  margin-top: 5px;
}
.search-active {
  color: #555;
  background-color: #FFF;
  border-width: 1px;
  border-style: solid;
  border-color: #DDD #DDD #DDD #DDD;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
}
.search-default {
  border-width: 1px;
  border-style: solid;
  border-color:  transparent transparent transparent #DDD;
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
}
.group-header button.btn-link:hover {
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: #DDD #DDD #DDD #DDD;
}
.group-header a.btn-link:hover {
  text-decoration: none;
  border-width: 1px;
  border-style: solid;
  border-color: #DDD #DDD #DDD #DDD;
}
.selected-link {
  color: #555;
  padding: 0px;
}