<dnsim-loading>
<div class="row">
  <div class="col-xs-12" ng-if="item == null">
    <br />
    cannot load item
  </div>
</div>
<div class="row" ng-if="item != null">
  <div class="col-xs-12 col-md-4">
    <h3>
      <dnsim-item-link item="item"></dnsim-item-link><br />
      <small>  
      {{getDescription()}}
      {{getServerStorage()}}
      <br />
      <span ng-show="item.rank && item.rank.id > 0" class="{{item.rank.name}}-grade">
      {{item.rank.name}}
      </span>
      <span ng-show="jobName">
      {{jobName.toLowerCase()}}
      </span>
      {{getExchangeType()}}
      <span ng-show="item.levelLimit > 1">
      req lvl{{item.levelLimit}}
      </span>
      <span ng-if="item.offensiveGemSlots > 0 || item.increasingGemSlots > 0">
        <br />
        gem slots:
        <span ng-if="item.offensiveGemSlots > 0">
          {{item.offensiveGemSlots}}x offensive
          <span ng-if="item.increasingGemSlots > 0"> | </span>
        </span>
        <span ng-if="item.increasingGemSlots > 0">{{item.increasingGemSlots}}x increasing</span>
      </span>
      </small>
    </h3>
    <small class="hidden-xs">
      {{item.fileName}}{{item.typeName}}: {{item.itemSource}} / {{item.id}} / {{item.pid}}
      <span ng-show="item.potentialRatio != null">
        <br />
        potential&nbsp;ratio:&nbsp;{{item.potentialRatio}}
      </span>
    </small>
    <dngearsim-item-edit-potential item="item" on-change="handleChange()">
    </dngearsim-item-edit-potential>
  </div>
  <div class="col-xs-12 col-md-8">
    <div class="row" ng-if="item.typeName != 'custom' &&  item.typeName != 'skills' &&  item.typeName != 'talisman'">
      <div class="col-xs-12" ng-if="item.stats != null && item.stats.length > 0">
        <br class="hidden-xs" />
        <label>stats</label><br />
        <span dnsim-stats stats="item.stats" separator="'|'">
        </span>
      </div>
      
      <div class="col-xs-12" ng-if="item.setStats != null && item.setStats.length > 0">
        <br /><label>set stats</label><br />
        <span dnsim-stats stats="item.setStats" separator="'|'">
      </div>
      
      <dngearsim-item-edit-enchantment item="item" on-change="handleChange()">
      </dngearsim-item-edit-enchantment>
      
    </div>
    <div class="row" ng-if="item.typeName == 'talisman'">
      <dngearsim-item-edit-talisman item="item" on-change="handleChange()">
      </dngearsim-item-edit-talisman>
    </div>
    <div class="row" ng-if="item.typeName == 'custom'">
      <dngearsim-item-edit-custom item="item" on-change="handleChange()">
      </dngearsim-item-edit-custom>
    </div>
    <div class="row" ng-if="item.typeName == 'skills'">
      <dngearsim-item-edit-skill item="item" on-change="handleChange()">
      </dngearsim-item-edit-skill>
    </div>
    <div class="row">
      <dngearsim-item-edit-spark item="item" on-change="handleChange()">
      </dngearsim-item-edit-spark>
    </div>
  </div>
</div>
<div class="row" ng-if="item.typeId == 46 || item.typeId == 8">
  <dngearsim-item-view-box item="item">
  </dngearsim-item-view-box>
</div>
<div class="row" ng-if="item != null && this.item.typeName != null">
    <dngearsim-group-assignment item="item">
    </dngearsim-group-assignment>
</div>
</dnsim-loading>
