<div class="col-xs-12 item-type-grouping">
  <br />
  <button class="btn btn-default" ng-show="editCtrl.groupNames.length > 1" ng-dblclick="editCtrl.prevGroup()" ng-click="editCtrl.prevGroup()">&lt; prev build</button>
  <button class="btn btn-default" ng-show="editCtrl.groupNames.length > 1" ng-dblclick="editCtrl.nextGroup()" ng-click="editCtrl.nextGroup()">next build &gt;</button>
  
  
  <div class="row" ng-if="editCtrl.groupName">
    <div class="col-xs-12 col-md-3">
      <h4><a href="#/build/{{editCtrl.groupName}}">{{editCtrl.groupName}}</a><br /> <small> <span dnsim-stats build="editCtrl.getBuild()" stats="editCtrl.getGroupCalcStats()" separator="'|'" filter="'summaryDisplay'" /> </small> </h4>
    </div>
    <div class="col-xs-3 col-md-1 text-right" ng-if="!editCtrl.hasMaxExchangable()">
      <button class="btn btn-default" ng-dblclick="editCtrl.addToGroup()" ng-click="editCtrl.addToGroup()">add</button>
    </div>
    <div class="col-xs-9 col-md-8" ng-if="!editCtrl.hasMaxExchangable()">
      
      <span ng-if="editCtrl.getAddAffectAmount(statId) != 0" ng-repeat="statId in editCtrl.summaryStatIds track by statId">
        <b ng-if="editCtrl.getAddAffectAmount(statId) > 0">increase</b>
        <b ng-if="editCtrl.getAddAffectAmount(statId) < 0">decreases</b>
        {{editCtrl.getStatName(statId)}} by {{editCtrl.getAddAffectAmount(statId)}}%
        <br />
      </span>

    </div>
    <div class="col-xs-12 bg-danger" ng-if="editCtrl.getGroupCalcStats().length == 0">
        this build needs to be set up before stats can be shown
    </div>
  </div>
  <div class="row" ng-repeat="groupItem in editCtrl.getGroupItems() track by $index" ng-init="listIndex = $index">
    <div class="col-xs-12 item-type-grouping">
    </div>
    <div class="col-xs-12 col-md-3">
      <br />
      <dnsim-item-link item="groupItem"></dnsim-item-link>
      <br />
      <span dnsim-stats stats="groupItem.fullStats" alt-stats="groupItem.stats" separator="'|'" /> <br />
    </div>
    <div class="col-xs-3 col-md-1 text-right">
      <br />
      <button class="btn btn-default" ng-dblclick="editCtrl.replace(groupItem)" ng-click="editCtrl.replace(groupItem)">replace</button>
      <br /><br />
    </div>
    <div class="col-xs-9 col-md-8">
      
      <br />
      <span ng-if="editCtrl.getReplaceAffectAmount(statId, listIndex, groupItem) != 0" ng-repeat="statId in editCtrl.summaryStatIds track by statId">
        <b ng-if="editCtrl.getReplaceAffectAmount(statId, listIndex, groupItem) > 0">increase</b>
        <b ng-if="editCtrl.getReplaceAffectAmount(statId, listIndex, groupItem) < 0">decreases</b>
        {{editCtrl.getStatName(statId)}} {{editCtrl.getReplaceAffectAmount(statId, listIndex, groupItem)}}%
        <br />
      </span>
      
    </div>
  </div>
</div>