<div class="col-xs-12" ng-if="!ctrl.noDropsFound">
  <h3>contains:</h3>
</div>
<div class="col-xs-12" ng-if="!ctrl.noDropsFound">
  note: items viewed from boxes may not display correctly yet
</div>
<div class="col-xs-12" ng-if="ctrl.noDropsFound">
  cannot find drops for this item - yet!
</div>
<div class="col-xs-12" ng-repeat="item in ctrl.items">
  <dnsim-item-link item="item.item"></dnsim-item-link>
  <span ng-if="item.count > 1">x{{item.count}}</span>
  <span ng-if="item.gold > 0">{{item.gold/100/100}}g</span>
</div>