<dnsim-loading also-show-for="!item">
<div class="row" ng-if="item != null">
  <div class="col-xs-12 col-md-4">
    <h3>
      <dnsim-item-link item="::item"></dnsim-item-link><br />
      <small>
      {{::getServerStorage()}}
      <br />
      <span ng-if="::item.rank && item.rank.id > 0" class="{{::item.rank.name}}-grade">
      {{::item.rank.name}}
      </span>
      <span ng-if="::jobName">
      {{::jobName.toLowerCase()}}
      </span>
      {{::getExchangeType()}}
      <span ng-if="::item.levelLimit > 1">
      req lvl{{::item.levelLimit}}
      </span>
      <span ng-if="::item.offensiveGemSlots > 0 || item.increasingGemSlots > 0">
        <br />
        gem slots:
        <span ng-if="::item.offensiveGemSlots > 0">
          {{::item.offensiveGemSlots}}x offensive
          <span ng-if="::item.increasingGemSlots > 0"> | </span>
        </span>
        <span ng-if="::item.increasingGemSlots > 0">{{::item.increasingGemSlots}}x increasing</span>
      </span>
      </small>
    </h3>
    <small class="hidden-xs">
      {{::item.fileName}}{{::item.typeName}}: {{::item.itemSource}} / {{::item.id}} / {{::item.pid}}
      <span ng-if="::item.potentialRatio != null">
        <br />
        potential&nbsp;ratio:&nbsp;{{::item.potentialRatio}}
      </span>
    </small>
    <dngearsim-item-edit-potential item="::item" on-change="handleChange()">
    </dngearsim-item-edit-potential>
  </div>
  <div class="col-xs-12 col-md-8">
    <div class="row" ng-if="::item.typeName != 'custom' && item.typeName != 'skills' && item.typeName != 'talisman'">
      <!-- virtical layout -->
      <div class="col-xs-3 hidden-xs" ng-if="::item.stats != null && item.stats.length > 0">
        <br />
        <label>stats</label><br />
        <div dnsim-stats stats="::item.stats">
        </div>
      </div>
      <div class="col-xs-3 hidden-xs" ng-if="::item.setStats != null && item.setStats.length > 0">
        <br /><label>set stats</label><br />
        <div dnsim-stats stats="::item.setStats"></div>
      </div>
      <div class="col-xs-6 hidden-xs">
        <div class="row">
          <br />
          <div class="col-xs-12" ng-if="item.enchantmentStats && item.enchantmentStats.length > 0">
            <label>+{{item.enchantmentNum}} enchantment stats:</label><br />
            <div dnsim-stats stats="item.enchantmentStats">
            </div>
            <br />
          </div>
        </div>
      </div>
      
      <!-- horizontal layout for mobile -->
      <div class="col-xs-12 visible-xs-block" ng-if="::item.stats != null && item.stats.length > 0">
        <label>stats</label><br />
        <span dnsim-stats stats="::item.stats" separator="'|'">
        </span>
      </div>
      <div class="col-xs-12 visible-xs-block" ng-if="::item.setStats != null && item.setStats.length > 0">
        <br /><label>set stats</label><br />
        <span dnsim-stats stats="::item.setStats" separator="'|'"></span>
      </div>
      <div class="col-xs-12 visible-xs-block" ng-if="item.enchantmentStats && item.enchantmentStats.length > 0">
        <br /><label>+{{item.enchantmentNum}} enchantment stats:</label><br />
        <span dnsim-stats stats="item.enchantmentStats" separator="'|'">
        </span>
        <br />
      </div>
      <!-- -->
      
    </div>
    <dngearsim-item-edit item="item" on-change="handleChange()" update-item="handleChange()">
    </dngearsim-item-edit>
  </div>
</div>
<div class="row" ng-if="item != null">
  <div class="col-xs-12">
    {{::getDescription()}}
  </div>
</div>
<div class="col-xs-12">
  <br />
</div>
<div class="row" ng-if="item != null">
  <div class="col-xs-12 item-type-grouping">
    |
    <span ng-if="hasContents">
      <button class="btn btn-link" ng-click="setDetail('contents')" ng-disabled="detail == 'contents'">contents</button> |
    </span>
    <span ng-if="canUse">
      <button class="btn btn-link" ng-click="setDetail('use')" ng-disabled="detail == 'use'">use</button> |
    </span>
    <span ng-if="isPlate">
      <button class="btn btn-link" ng-click="setDetail('plate')" ng-disabled="detail == 'plate'">plate</button> |
    </span>
    <span ng-if="canExtract">
      <button class="btn btn-link" ng-click="setDetail('extract')" ng-disabled="detail == 'extract'">extract</button> |
    </span>
    <span ng-if="canTransfer">
      <button class="btn btn-link" ng-click="setDetail('transfer')" ng-disabled="detail == 'transfer'">transfer</button> |
    </span>
    <span>
      <button class="btn btn-link" ng-click="setDetail('shops')" ng-disabled="detail == 'shops'">buy</button> |
    </span>
    <span>
      <button class="btn btn-link" ng-click="setDetail('craft')" ng-disabled="detail == 'craft'">craft</button> |
    </span>
    <span ng-if="isInSet">
      <button class="btn btn-link" ng-click="setDetail('set')" ng-disabled="detail == 'set'">set</button> |
    </span>
  </div>
</div>
<div class="row" ng-if="detail == 'extract'" ng-if="item != null">
  <dngearsim-item-view-extraction item="item">
  </dngearsim-item-view-extraction>
</div>
<div class="row" ng-if="detail == 'contents'" ng-if="item != null">
  <dngearsim-item-view-box item="item">
  </dngearsim-item-view-box>
</div>
<div class="row" ng-if="detail == 'use'">
    <dngearsim-group-assignment item="item" ng-if="item != null">
    </dngearsim-group-assignment>
</div>
<div class="row" ng-if="detail == 'transfer'" ng-if="item != null">
  <dngearsim-item-view-transfer item="item">
  </dngearsim-item-view-transfer>
</div>
<div class="row" ng-if="detail == 'shops'" ng-if="item != null">
  <dngearsim-item-view-shop item="item">
  </dngearsim-item-view-shop>
</div>
<div class="row" ng-if="detail == 'craft'" ng-if="item != null">
  <dngearsim-item-view-craft item="item">
  </dngearsim-item-view-craft>
</div>
<div class="row" ng-if="detail == 'set'" ng-if="item != null">
  <dngearsim-item-view-set item="::item">
  </dngearsim-item-view-set>
</div>
<div class="row" ng-if="detail == 'plate'" ng-if="item != null">
  <dngearsim-item-view-plate item="item">
  </dngearsim-item-view-plate>
</div>
</dnsim-loading>
