<div class="col-xs-12" ng-if="editCtrl.enchantment != null">
  <br /><label>+{{editCtrl.item.enchantmentNum}} enchantment stats:</label><br />
  <span dnsim-stats stats="editCtrl.item.enchantmentStats" separator="'|'">
  </span>
  <br />
</div>

<div class="col-xs-12 col-md-4" ng-if="editCtrl.getEnchantments() && editCtrl.getEnchantments().length > 0">
  <div class="form-group">
    <button class="btn btn-default" ng-dblclick="editCtrl.prevEnchantment()" ng-click="editCtrl.prevEnchantment()" ng-disabled="editCtrl.item.enchantmentNum < 1">- reduce</button>
    <button class="btn btn-default" ng-dblclick="editCtrl.nextEnchantment()" ng-click="editCtrl.nextEnchantment()" ng-disabled="editCtrl.isMaxEnchantLevel()">+ enhance</button>
  </div>
</div>
<div class="col-xs-12 col-md-8" ng-hide="editCtrl.enchantmentAfter == null || editCtrl.isMaxEnchantLevel()">
  <label>when enhancing:</label><br />
  cost: {{editCtrl.enchantmentCost}} | min down: {{editCtrl.enchantmentAfter.MinDown}} | max down: {{editCtrl.enchantmentAfter.MaxDown}}<br />
  enchant ratio: {{editCtrl.enchantmentAfter.EnchantRatio | percentage}} | break ratio: {{editCtrl.enchantmentAfter.BreakRatio | percentage}}<br />
  <span ng-if="editCtrl.enchantmentAfter && editCtrl.enchantmentAfter.ProtectItemCount > 0">
  {{editCtrl.enchantmentAfter.ProtectItemCount}} Jellies required for protection
  </span>
  <button ng-if="editCtrl.materials == null" ng-click="editCtrl.showMaterials()" class="btn btn-link">show materials</button>
  <div ng-repeat="material in editCtrl.materials">
    {{material.num}}x {{material.name}}
  </div>
</div>