<dnsim-loading>
  <div class="col-xs-6">
    <h4>boxes</h4>
    <div ng-repeat="(boxId,data) in boxes.boxes">
      <a class="btn btn-lnk {{boxes.getRankName(data.rank)}}-grade" href="#/boxes/{{boxId}}">
        {{boxes.translate(data.nameId, data.nameParam)}}
      </a>
    </div>
  </div>
  <div ng-if="boxes.box" class="col-xs-6">
    <h4>{{boxes.translate(boxes.boxes[boxes.box].nameId)}} contents</h4>
    <div ng-repeat="item in boxes.boxes[boxes.box].items">
      <span ng-if="item.levelLimit > 1">lv{{item.levelLimit}}</span>
      <span class="{{boxes.getRankName(item.rank)}}-grade">
      {{boxes.translate(item.itemNameId, item.itemNameParam)}}
      </span>
      <span ng-if="item.count > 1">x{{item.count}}</span>
      <span ng-if="item.gold > 0">{{item.gold/100/100}}g</span>
    </div>
  </div>
</dnsim-loading>