<div class="col-xs-6">
  <h4>boxes</h4>
  <div ng-repeat="(boxName,items) in boxes.boxes">
    <a class="btn btn-lnk" href="#/boxes/{{boxName}}">
      {{boxName}}
    </a>
  </div>
</div>
<div ng-if="boxes.box" class="col-xs-6">
  <h4>{{boxes.box.toLowerCase()}} contents</h4>
  <div ng-repeat="item in boxes.boxes[boxes.box]">
    <span class="{{boxes.getRankName(item.rank)}}-grade">
    {{item.itemName}}
    </span>
    <span ng-if="item.Count > 1">x{{item.Count}}</span>
    <span ng-if="item.Gold > 0">{{item.Gold/100/100}}g</span>
  </div>
</div>

