<div class="row">
  <div class="col-xs-12">
    <h4>full item search <small>find anything</small></h4>
    <h4><small>note: this section is under development</small></h4>
  </div>
</div>
<div class="row">
    <div class="col-xs-12">
     <label>seach by name:</label>
     <input type="text" class="form-control" ng-model="items.nameSearch" dnsim-select-all-on-click />
  </div>
</div>

<dnsim-loading>
<table class="table">
<tr ng-repeat="result in items.getResults() track by $index">
  <td>
    <div class="row">
    <div>
      <dnsim-item-link item="result" />
    </div>
    </div>
  </td>
</tr>
</table>
<div class="row" ng-show="items.totalNumResults >= items.maxDisplay">
  <div class="col-xs-1"></div>
  <div class="col-xs-11">
    <button class="btn btn-link" ng-click="items.showMoreResults(20)">show more</button> | 
    <button class="btn btn-link" ng-click="items.showMoreResults(200)">show lots more</button>
  </div>
</div>
</dnsim-loading>