<div class="col-xs-12">
  <div class="row">
    <!-- Header -->
    <div class="col-xs-12 col-md-5 col-lg-6 group-header" ng-if="::!buildCtrl.server">
        <h3 class="text-left">
        <dnsim-job-icon item="::buildCtrl.build.job"></dnsim-job-icon>
        {{::buildCtrl.buildName}}
        <small>
          <span ng-show="::buildCtrl.build.playerLevel > 0 && buildCtrl.build.job && buildCtrl.build.job.id > 0 && buildCtrl.build.enemyLevel > 0">
            lv{{::buildCtrl.build.playerLevel}}&nbsp;{{::buildCtrl.build.job.name}}&nbsp;vs&nbsp;lv{{::buildCtrl.build.enemyLevel}}&nbsp;
          </span>
          <br />
          <span class="hidden-xs">{{::buildCtrl.getSaveDate()}} {{::buildCtrl.getSaveTime()}} <br /></span>
          <span dnsim-stats build="buildCtrl.build" stats="buildCtrl.stats.calculatedStats" separator="'|'" filter="'summaryDisplay'" />
        </small>
        </h3>
    </div>
    <dnsim-loading>
    <!-- Small screen categories -->
    <div class="col-xs-12 visible-xs-block">
      <dnsim-category-links collapse="true" cat="buildCtrl.category" build-screen="true" on-change="buildCtrl.changeCategory()" />
    </div>
    <!-- Small screen view switcher -->
    <div class="col-xs-12 visible-xs-block">
      <button ng-click="buildCtrl.xsView = null" class="btn btn-default" ng-disabled="!buildCtrl.xsView">
        {{'equip' | translate}}
      </button>
      <button ng-click="buildCtrl.xsView = 'actions'" class="btn btn-default" ng-disabled="buildCtrl.xsView == 'actions'">
        {{'build actions' | translate}}
      </button>
      <button ng-click="buildCtrl.xsView = 'stats'" class="btn btn-default" ng-disabled="buildCtrl.xsView == 'stats'">
        {{'build stats' | translate}}
      </button>
    </div>
    <!-- actions -->
    <div class="col-xs-12 col-md-7 col-lg-6" ng-if="::!buildCtrl.server" ng-class="{'hidden-xs': buildCtrl.xsView != 'actions'}">
      <br class="hidden-xs hidden-sm" /><br class="hidden-xs hidden-sm" />
      <dngearsim-build-actions build-name="buildCtrl.buildName" build="buildCtrl.build" on-change="buildCtrl.handleChange()">
      </dngearsim-build-actions>
    </div>
    <div class="col-xs-6" ng-show="::buildCtrl.stats.calculatedStats.length == 0">
    </div>
    <div class="col-xs-10 col-md-12 alert alert-danger" role="alert" ng-if="buildCtrl.stats.calculatedStats.length == 0 || buildCtrl.stats.nakedStats.length == 0">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> 
      {{'you must edit the build and set both level and class' | translate}}
    </div>
    
    <div class="col-xs-12 col-md-9" ng-class="{'hidden-xs': buildCtrl.xsView}">
      <br />
      <div class="row">
        <!-- categories for large screens -->
        <div class="hidden-xs col-sm-4 col-md-4">
          <dnsim-category-links cat="buildCtrl.category" build-screen="true" on-change="buildCtrl.changeCategory()" />
        </div>
    
        <!-- categories for large screens -->
        <div class="col-xs-12 col-sm-8 col-md-8 dnsim-fade" ng-if="!buildCtrl.categoryChanging">
          <!-- links above items (quick add/new custom items/position talismans) -->
          <div class="row table-look">
            <div class="col-xs-12" ng-if="::!buildCtrl.server">
              <dngearsim-quick-add build="buildCtrl.build" build-name="::buildCtrl.buildName" category="buildCtrl.category" on-change="buildCtrl.handleChange()" ng-if="buildCtrl.allowMoreItems()"></dngearsim-quick-add>
              <span ng-if="buildCtrl.category.name == 'talisman'">&nbsp;
                <a class="btn btn-link" ng-href="talismans">
                  <span class="glyphicon glyphicon-move" aria-hidden="true"></span>&nbsp;{{'position' | translate}}
                </a>
              </span>
              <span ng-if="buildCtrl.category.name == 'custom'">
                &nbsp;
                <button class="btn btn-link" ng-click="buildCtrl.newCustom()">
                  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>&nbsp;{{'new custom item' | translate}}
                </button>
              </span>
              <span style="float:right" ng-if="!buildCtrl.canMove()">
              <strong>{{buildCtrl.getItemCount()}} <span class="hidden-xs">{{buildCtrl.category.name}}</span></strong>
              </span>
            </div>
          </div>

          <!-- build item list -->
          <dngearsim-build-item-list
            category="buildCtrl.category"
            build="buildCtrl.build"
            build-name="buildCtrl.buildName"
            server="buildCtrl.server"
            on-change="buildCtrl.handleChange()">
          </dngearsim-build-item-list>

          <!-- search link -->
          <div class="row" ng-if="buildCtrl.category.name != 'custom'">
            <div class="col-xs-12" ng-if="::!buildCtrl.server">
              <a ng-href="search?cat={{buildCtrl.category.path}}">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                {{'search' | translate}} {{buildCtrl.category.name}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <!-- stats -->
    <div class="col-xs-12 col-md-3 group-header" ng-class="{'hidden-xs': buildCtrl.xsView != 'stats'}">
      <div class="row">
       <dngearsim-build-stats stats="buildCtrl.stats" build="::buildCtrl.build" build-name="::buildCtrl.buildName">
       </dngearsim-build-stats>
      </div>
    </div>
    </dnsim-loading>
  </div>
</div>