<div class="row">
<div class="col-xs-12 col-lg-9">

<div class="row">
  
<div class="visible-xs-block col-xs-12">
  <dnsim-category-links on-change="ctrl.navigate()" cat="ctrl.itemCategory" collapse="true"></dnsim-category-links>
</div>
<div class="hidden-xs col-sm-4 col-md-3">
  <dnsim-category-links on-change="ctrl.navigate()" cat="ctrl.itemCategory"></dnsim-category-links>
</div>

<div class="col-xs-12 col-sm-8 col-md-9" ng-if="::!ctrl.itemCategory.searchType">
<dnsim-loading>
  <!-- For small screens this is the search box with filter button -->
  <div class="row visible-xs" ng-if="::!ctrl.itemCategory.searchType">
    <div
      class="col-xs-12 input-group">
      <input placeholder="Search" ng-change="ctrl.changeSearch()" type="text" class="form-control" ng-model="ctrl.nameSearch" ng-model-options="{ debounce: 300 }" />
      <span class="input-group-btn">
        <button class="btn btn-default" ng-click="ctrl.filters = !ctrl.filters">
          <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
        </button>
      </span>
    </div>
  </div>
  <!-- For small screens the potentially hidden search options -->
  <div class="row visible-xs" ng-if="!ctrl.itemCategory.searchType && ctrl.filters">
    <div class="col-xs-6 form-group" ng-if="::!ctrl.itemCategory.hideRank" ng-repeat="(id,value) in ctrl.grades track by $index">
      <label class="checkbox-inline">
        <input ng-change="ctrl.changeSearch()" type="checkbox" ng-model="ctrl.rankChecked[id]" value="{{id}}"> {{value.name | translate}}
      </label>
    </div>
    <div class="col-xs-6 col-sm-2" ng-hide="::ctrl.itemCategory.hideLevel">
      <label>{{'min&nbsp;lvl:' | translate}}
      </label>
      <input ng-change="ctrl.changeSearch()" type="number" dnsim-string-to-number step="any" class="form-control" ng-model="ctrl.minLevel" ng-model-options="{ debounce: 300 }" />
    </div>
    <div class="col-xs-6 col-sm-2" ng-hide="::ctrl.itemCategory.hideLevel">
      <label>{{'max&nbsp;lvl:' | translate}}
      </label>
      <input ng-change="ctrl.changeSearch()" type="number" dnsim-string-to-number step="any" class="form-control" ng-model="ctrl.maxLevel" ng-model-options="{ debounce: 300 }" />
    </div>
    <div ng-class="{'col-sm-2': !ctrl.itemCategory.hideLevel, 'col-sm-3': ctrl.itemCategory.hideLevel}" class="col-xs-12">
      <label>{{'stat:' | translate}}</label>
      <select ng-change="ctrl.changeSearch()" class="form-control" ng-model="ctrl.stat" ng-options="stat.name | translate for stat in ::ctrl.stats track by stat.id">
      </select>
    </div>
    <div class="col-xs-12 col-sm-3" ng-hide="::ctrl.itemCategory.hideJob">
      <label>{{'class:' | translate}}
      </label>
      <select ng-change="ctrl.changeSearch()" ng-model="ctrl.job" class="form-control"
      ng-options="job.name for job in ctrl.jobs track by job.id">
      </select>
    </div>
  </div>
  <!-- For large screens search options -->
  <div class="row hidden-xs" ng-if="::!ctrl.itemCategory.searchType">
    <div class="col-xs-0 col-md-2"></div>
    <div class="hidden-xs col-md-10 form-group">
      <br />
      <span class="form-group" ng-repeat="(id,value) in ctrl.grades track by $index" ng-if="::!ctrl.itemCategory.hideRank">
      <label class="checkbox-inline">
        <input ng-change="ctrl.changeSearch()" type="checkbox" ng-model="ctrl.rankChecked[id]" value="{{id}}">{{value.name | translate}}&nbsp;
      </label>
      </span>
    </div>
    
    <div class="col-xs-6 col-sm-2" ng-hide="::ctrl.itemCategory.hideLevel">
      <label>{{'min&nbsp;lvl:' | translate}}
      </label>
      <input ng-change="ctrl.changeSearch()" type="number" dnsim-string-to-number step="any" class="form-control" ng-model="ctrl.minLevel" ng-model-options="{ debounce: 300 }" />
    </div>
    <div class="col-xs-6 col-sm-2" ng-hide="::ctrl.itemCategory.hideLevel">
      <label>{{'max&nbsp;lvl:' | translate}}
      </label>
      <input ng-change="ctrl.changeSearch()" type="number" dnsim-string-to-number step="any" class="form-control" ng-model="ctrl.maxLevel" ng-model-options="{ debounce: 300 }" />
    </div>
    <div ng-class="{'col-sm-2': !ctrl.itemCategory.hideLevel, 'col-sm-3': ctrl.itemCategory.hideLevel}" class="col-xs-12">
      <label>{{'stat:' | translate}}</label>
      <select ng-change="ctrl.changeSearch()" class="form-control" ng-model="ctrl.stat" ng-options="stat.name | translate for stat in ::ctrl.stats track by stat.id">
      </select>
    </div>
    
    <div
      ng-class="['col-xs-12',{'col-sm-3': !ctrl.itemCategory.hideLevel && !ctrl.itemCategory.hideJob},{'col-sm-6': !ctrl.itemCategory.hideLevel && ctrl.itemCategory.hideJob},{'col-sm-6': ctrl.itemCategory.hideLevel && !ctrl.itemCategory.hideJob},{'col-sm-9': ctrl.itemCategory.hideLevel && ctrl.itemCategory.hideJob}]">
      <label>{{'name:' | translate}}</label>
      <input ng-change="ctrl.changeSearch()" type="text" class="form-control" ng-model="ctrl.nameSearch" ng-model-options="{ debounce: 300 }" />
      <span class="input-group-btn">
      </span>
    </div>
    <div class="col-xs-12 col-sm-3" ng-hide="::ctrl.itemCategory.hideJob">
      <label>{{'class:' | translate}}
      </label>
      <select ng-change="ctrl.changeSearch()" ng-model="ctrl.job" class="form-control"
      ng-options="job.name for job in ctrl.jobs track by job.id">
      </select>
    </div>
  </div>

  <!-- Search results -->
  <div class="row" infinite-scroll="ctrl.showMoreResults()" ng-if="!ctrl.itemCategory.searchType && ctrl.results">
    <div class="col-xs-12" ng-repeat="result in ctrl.results track by $index">
      <div class="row dnsim-card">
        <dngearsim-build-item item="result"></dngearsim-build-item>
        <div style="float:right">
            <button class="btn btn-default" ng-click="showUse = !showUse">
              {{'use' | translate}}
            </button>
        </div>
        <div class="col-xs-12" ng-if="showUse">
          <br />
          <dngearsim-group-assignment compact="true" item="result"></dngearsim-group-assignment>
        </div>
      </div>
    </div>
  </div>
  <div class="row" ng-show="ctrl.totalNumResults >= ctrl.maxDisplay" ng-if="!ctrl.itemCategory.searchType">
    <div class="col-xs-1"></div>
    <div class="col-xs-11">
      <button class="btn btn-link" ng-click="ctrl.showMoreResults(20)">show more</button>
    </div>
  </div>
</dnsim-loading>
</div>

<div class="col-xs-12 col-sm-8 col-md-9" ng-if="::ctrl.itemCategory.searchType">
  <!-- Other search controls -->
  <dngearsim-skill-search jobs="ctrl.jobs" job="ctrl.job" ng-if="::ctrl.itemCategory.searchType == 'skills'">
  </dngearsim-skill-search>

  <dngearsim-custom-items ng-if="::ctrl.itemCategory.searchType == 'custom'">
  </dngearsim-custom-items>

  <dngearsim-everything-search name-search="ctrl.nameSearch" ng-if="::ctrl.itemCategory.searchType == 'everything'">
  </dngearsim-everything-search>
</div>

</div> <!-- end the row -->
</div> <!-- end the main column -->
<div class="col-lg-3 visible-lg-block">
  <img src="/assets/images/jasmin.png" />
</div>
</div> <!-- end the row -->