<div class="row">
  <div class="col-xs-12">&nbsp;</div>
</div>
<div class="row">
<div class="col-xs-12">
  <p>
     Skills are still under development.
  </p>
  <p>
   Skills that debuf may debuf you instead of your enemy ie. might decrease your defence instead of increasing your attack.
  </p>
</div>
</div>
<div class="row search-box">
<dnsim-loading>
  <div class="col-xs-12 col-md-9">
     <label>name:</label>
     <input type="text" class="form-control" ng-model="skillSearch.nameSearch" />
  </div>
  <div class="col-xs-12 col-md-3" ng-hide="simpleSearch">
    <label>class: 
    </label>
    <select ng-model="skillSearch.job" class="form-control"
     ng-options="job.name for job in skillSearch.jobs track by job.id" ng-change="skillSearch.init();">
    </select>
  </div>
</div>
<div class="row" infinite-scroll="skillSearch.showMoreResults()">
  <div class="col-xs-12 search-item" ng-repeat="result in skillSearch.getResults() track by $index">
    <div class="dnsim-card">
      <dngearsim-build-item item="result"></dngearsim-build-item>
    </div>
  </div>
  <div class="col-xs-12 hidden-xs search-end"></div>
</div>
</dnsim-loading>
