<div class="col-xs-12 item-type-grouping">
  <div ng-if="::!editCtrl.groupName">
  <p>
    <a ng-href="new-build">{{'Create a build to see how this item will affect your damage.' | translate}}</a>
  </p>
  </div>
  <div class="row" ng-if="::editCtrl.groupName">
    <div class="col-xs-12 col-md-5">
      <h4>
        <dnsim-job-icon item="editCtrl.getBuild().job"></dnsim-job-icon>
        <a ng-href="build?buildName={{editCtrl.groupName}}">{{editCtrl.groupName}}</a>
        <br ng-if="!editCtrl.compact" />
        <small class="hidden-xs" ng-if="!editCtrl.compact">
          <span dnsim-stats build="editCtrl.getBuild()" stats="editCtrl.getGroupCalcStats()" separator="'|'" filter="'summaryDisplay'" />
        </small>
      </h4>
      <div>
        <button class="btn btn-link" ng-show="::editCtrl.groupNames.length > 1" ng-dblclick="editCtrl.prevGroup()" ng-click="editCtrl.prevGroup()">&lt; prev build</button>
        <span ng-if="::editCtrl.groupNames.length > 1"> | </span>
        <button class="btn btn-link" ng-show="::editCtrl.groupNames.length > 1" ng-dblclick="editCtrl.nextGroup()" ng-click="editCtrl.nextGroup()">next build &gt;</button>
      </div>
    </div>
    <div class="col-xs-12 col-md-7" ng-if="!editCtrl.hasMaxExchangable()" style="padding-top:8px">
      <div style="float:left;height:85px;padding-right:10px">
      <button class="btn btn-default" ng-dblclick="editCtrl.addToGroup()" ng-click="editCtrl.addToGroup()">add</button>
      <br /><br /><br />
      </div>
      
      <span ng-if="editCtrl.getAddAffectAmount(statId) != 0" ng-repeat="statId in editCtrl.summaryStatIds track by statId">
        <b class="increases-stat" ng-if="editCtrl.getAddAffectAmount(statId) > 0">{{'increase' | translate}}</b>
        <b class="decreases-stat" ng-if="editCtrl.getAddAffectAmount(statId) < 0">{{'decreases' | translate}}</b>
        {{editCtrl.getStatName(statId)}} {{editCtrl.getAddAffectAmount(statId)}}%
        <!-- ({{ editCtrl.getOldAffectAmount(statId) + '->' + editCtrl.getNewAffectAmount(statId) }}) -->
        <br />
      </span>

    </div>
    <div class="col-xs-12 bg-danger" ng-if="editCtrl.getGroupCalcStats().length == 0">
        {{'this build needs to be set up before stats can be shown' | translate}}
    </div>
  </div>
  <div class="row dnsim-fade" ng-repeat="groupItem in editCtrl.getGroupItems()" ng-init="listIndex = $index">
    <div class="col-xs-12 item-type-grouping">
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="assign-item-top col-xs-12"></div>
      <div class="assign-item col-xs-12">
        <dngearsim-build-item item="groupItem"></dngearsim-build-item>
      </div>
      <div class="assign-item-bottom col-xs-12"></div>
    </div>
    <div class="col-xs-12 col-md-6 assign-item-stat" style="padding-top:8px">
      <div ng-if="editCtrl.getReplaceAffectAmount(statId, listIndex, groupItem) != 0" ng-repeat="statId in editCtrl.summaryStatIds track by statId">
        <b class="increases-stat" ng-if="editCtrl.getReplaceAffectAmount(statId, listIndex, groupItem) > 0">{{'increase' | translate}}</b>
        <b class="decreases-stat" ng-if="editCtrl.getReplaceAffectAmount(statId, listIndex, groupItem) < 0">{{'decrease' | translate}}</b>
        {{editCtrl.getStatName(statId)}} {{editCtrl.getReplaceAffectAmount(statId, listIndex, groupItem)}}%
      </div>
      <button class="btn btn-default" ng-dblclick="editCtrl.replace(groupItem)" ng-click="editCtrl.replace(groupItem)">{{'replace' | translate}}</button>
      <br /><br />
    </div>
  </div>
</div>