<div class="col-xs-12" ng-if="editCtrl.enchantments && editCtrl.enchantments.length > 0">
  <div class="form-group" ng-if="editCtrl.enhancementOptions.length == 0">
    <button class="btn btn-default" ng-dblclick="editCtrl.prevEnchantment()" ng-click="editCtrl.prevEnchantment()" ng-disabled="editCtrl.item.enchantmentNum < 1">- reduce</button>
    <button class="btn btn-default" ng-dblclick="editCtrl.nextEnchantment()" ng-click="editCtrl.nextEnchantment()" ng-disabled="editCtrl.isMaxEnchantLevel()">+ increase</button>
  </div>
  <div class="form-group" ng-if="editCtrl.enhancementOptions.length > 0">
    <button 
      class="btn btn-default btn-block"
      ng-dblclick="editCtrl.setEnchantmentNum(enhancementOption.number)"
      ng-click="editCtrl.setEnchantmentNum(enhancementOption.number)"
      ng-repeat="enhancementOption in editCtrl.enhancementOptions track by $index">
        +{{enhancementOption.number}}<br />
        <span dnsim-stats stats="enhancementOption.stats" separator="'|'"></span>
    </button>
  </div>
</div>
<div class="col-xs-12" ng-if="editCtrl.materials == null && !editCtrl.isMaxEnchantLevel() && editCtrl.enchantmentAfter != null">
  <button ng-click="editCtrl.showMaterials()" class="btn btn-link">&raquo;show enhancement info</button>
</div>
<div
    class="col-xs-12" 
    ng-hide="editCtrl.enchantmentAfter == null || editCtrl.isMaxEnchantLevel() || editCtrl.enhancementOptions.length > 0"
    ng-if="editCtrl.materials != null">
  <label>when enhancing:</label><br />
  <span ng-if="editCtrl.enchantmentAfter.NeedPointCount">points: {{ editCtrl.enchantmentAfter.NeedPointCount }} | </span>
  cost: {{editCtrl.enchantmentCost}} | min down: {{editCtrl.enchantmentAfter.MinDown}} | max down: {{editCtrl.enchantmentAfter.MaxDown}}<br />
  enchant ratio: {{editCtrl.enchantmentAfter.EnchantRatio | percentage}} | break ratio: {{editCtrl.enchantmentAfter.BreakRatio | percentage}}<br />
  <span ng-if="editCtrl.enchantmentAfter && editCtrl.enchantmentAfter.ProtectItemCount > 0 && editCtrl.materials != null">
  {{editCtrl.enchantmentAfter.ProtectItemCount}} Jellies required for protection
  <br />
  </span>
  <div ng-repeat="material in editCtrl.materials track by $index">
    <div><dnsim-item-link item="material.item" /></div>x{{material.num}}
  </div>
</div>