<div class="row" ng-if="editCtrl.getPotentials() != null && editCtrl.getPotentials().length > 1">
  <div class="col-xs-12">
    <button class="btn btn-default" ng-click="editCtrl.changingPotentials = true" ng-show="!editCtrl.changingPotentials">change potential</button>

    <div ng-if="editCtrl.changingPotentials">
      <button ng-click="editCtrl.changingPotentials = false;" class="btn btn-link">&lt; cancel</button>
      <select ng-change="editCtrl.filterPotential()" class="form-control" ng-model="editCtrl.searchStat" ng-options="stat.name | translate for stat in ::editCtrl.searchStats track by stat.id">
      </select>
      <button class="btn-block" ng-class="{'btn': true, 'btn-default': true, 'disabled': editCtrl.potential.id == pid}" ng-click="editCtrl.changePotential(pid)" ng-repeat="(pid, stats) in editCtrl.potentialStats track by $index">
        <span>
          <span ng-if="stats.length == 0">clean</span>
          <div style="float:left;width: 120px">
            <span dnsim-stats stats="stats" filter="'dps'" separator="'<br />'" />
          </div>
          <div style="float:left">
            <span dnsim-stats stats="stats" filter="'def'" separator="'<br />'" />
          </div>
          <div style="float:right" ng-if="editCtrl.build">
            <span ng-if="affect.amount != 0" ng-repeat="affect in editCtrl.potentialAffects[pid]">
              <b class="increases-stat" ng-if="affect.amount > 0">{{'increase' | translate}}</b>
              <b class="decreases-stat" ng-if="affect.amount < 0">{{'decreases' | translate}}</b>
              {{editCtrl.getStatName(affect.statId)}} {{affect.amount}}%
              <br />
            </span>
          </div>
        </span>
      </button>
    </div>
  </div>
</div>