<ul class="nav nav-tabs" ng-if="!noRegion()">
  <li class="nav-tab nav-{{::action.name}}" ng-repeat="action in getActions() track by $index"> 
    <a class="list-group-item" ng-href="{{action.path}}" ng-class="{'active': isSelected(action.path)}">
      <span class="glyphicon glyphicon-{{::action.icon}}" ng-if="::action.icon" aria-hidden="true"></span>
      <dnsim-job-icon size="'50%'" item="action.build.job" small="true"></dnsim-job-icon>
      &nbsp;
      <span class="hidden-xs">
      {{action.name | translate}}
      </span>
    </a>
  </li>
  <li class="nav-tab nav-about pull-right">
    <a class="list-group-item" ng-href="about" ng-class="{'active': isSelected('about')}">
      <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
      <span class="hidden-xs">
      {{ 'faq' | translate }}
      </span>
    </a>
  </li>
  <li class="nav-tab nav-about pull-right" ng-if="altRegion()">
    <a class="list-group-item" ng-href="desktop-setup" ng-class="{'active': isSelected('desktop-setup')}">
      <span class="glyphicon glyphicon-cog"" aria-hidden="true"></span>
      <span class="hidden-xs">
      {{ 'setup' | translate }}
      </span>
    </a>
  </li>
</ul>
<div class="container-fluid sim-error" ng-if="simError">
  {{simError}}
</div>
<div class="container-fluid text-right" style="background-color: darkslateblue">
  On team red? Surrender at 5 minutes. Lets work together as a community to get through battlefield quickly.
</div>
<div class="container-fluid sim-error" ng-if="isHttpOnly()">
  <div class="container">
    <div class="col-xs-12 text-right">
      please use https: <a href="https://dngearsim.netlify.app">https://dngearsim.netlify.app</a>
    </div>
  </div>
</div>
