
<div class="row">
  <div class="col-xs-12 col-md-4">
    <div class="form-group">
    <label>Custom location of dnt files (for ALT region):</label>
    <input type="text" class="form-control" ng-model="location" />
    </div>
    <span ng-repeat="hostedFile in hostedFiles track by $index">
      <button class="btn btn-link" ng-click="$parent.location = hostedFile.url" title="{{hostedFile.name}}">{{ hostedFile.region }}</button>
    </span>
  </div>
  <div class="col-xs-12 col-md-3">
    <div class="form-group">
    <label></label><br />
    <button class="btn btn-default" ng-click="saveLocation()">Save Location</button>
    <button class="btn btn-default" ng-click="testLocation()">Test Location</button>
    </div>
  </div>
  <div class="col-xs-12 col-md-5">
    <div ng-repeat="testResult in testResults track by $index">
      {{testResult}}
    </div>
  </div>
</div>
<div class="row">
  &nbsp;
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="row">
      &nbsp;
    </div>
    <div class="bg-danger">
      <button class="btn btn-default" ng-click="resetSessionData()">Reset Session</button>
      <label>WARNING: Will reset all session data - including all builds</label>
    </div>
    <div class="row">
      &nbsp;
    </div>
  </div>
</div>
<div class="row">
  &nbsp;
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="row">
      &nbsp;
    </div>
    <div>
      <button class="btn btn-default" ng-click="loadUiString()">Reload Translations</button>
    </div>
    <div class="row">
      &nbsp;
    </div>
  </div>
</div>
<div class="row">
  &nbsp;
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="row" ng-repeat="result in translationResults track by $index"> 
      <div class="col-xs-12">
        {{result}}
      </div>
    </div>
  </div>
</div>