<dnsim-choose-class ng-show="!ctrl.job" job="ctrl.job" on-set-job="ctrl.setJob()"></dnsim-choose-class>

<h3 ng-if="ctrl.job">{{ctrl.job.name}} builds
  <small>
    <button class="btn btn-link" ng-click="ctrl.job = null">
      change class
    </button>
  </small>
</h3>
<span ng-if="ctrl.job && !ctrl.jobBuilds">loading..</span>

<p ng-if="ctrl.job && ctrl.jobBuilds">
<label>filter</label>
<input class="form-control" ng-model="ctrl.filter"></input>
</p>

<table ng-if="ctrl.job && ctrl.jobBuilds" class="table">
  <tr ng-repeat="build in ctrl.getFilteredBuilds() track by $index">
    <td>
    {{build.data.region}}
    lv{{build.data.lev}}
    <a ng-href="../published/{{build.uid}}/{{build.name}}">{{build.name}}</a>
    <span ng-if="build.data.guild">
    [{{build.data.guild}}]
    </span>
    <br />
    <em>
    {{build.data.about}}
    </em>
    </td>
  </tr>
</table>
<div class="row" ng-show="ctrl.totalNumResults >= ctrl.maxDisplay">
  <div class="col-xs-1"></div>
  <div class="col-xs-11">
    <button class="btn btn-link" ng-click="ctrl.showMoreResults(20)">show more</button> | 
    <button class="btn btn-link" ng-click="ctrl.showMoreResults(200)">show lots more</button>
  </div>
</div>