<div class="col-xs-12">

<div class="row">&nbsp;</div>
<div class="row">
<table class="table">
<tr ng-repeat="result in ::customItems.getResults() track by $index">
  <td>
    <div>
      <dnsim-item-link item="result" />
    </div>
    <div>
      <span dnsim-stats stats="result.stats" separator="'|'" />
    </div>
  </td>
</tr>
</table>
</div>

<div class="row" ng-hide="isLoading()">
  <h4>create new custom item</h4>
  <div class="col-xs-12">
     <label>name of new item:</label>
     <input type="text" class="form-control" ng-model="customItems.nameSearch" dnsim-select-all-on-click />
  </div>
  <div class="col-xs-12">
    <button class="btn btn-default" ng-click="customItems.createCustomItem()">create</button>
  </div>
</div>

</div>