<div class="row">
  <div class="col-xs-12">
    <h4>full item search <small>find anything</small></h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-8">
     <label>seach by name:</label>
     <input ng-change="items.changeSearch()" type="text" class="form-control" ng-model="items.nameSearch" ng-model-options="{ debounce: 300 }" />
  </div>
  <div class="col-xs-6 col-sm-2" ng-hide="::ctrl.itemCategory.hideLevel">
     <label>min&nbsp;lvl:
     </label>
     <input ng-change="items.changeSearch()" type="number" dnsim-string-to-number step="any" class="form-control" ng-model="items.minLevel" ng-model-options="{ debounce: 300 }" />
  </div>
  <div class="col-xs-6 col-sm-2" ng-hide="::ctrl.itemCategory.hideLevel">
     <label>max&nbsp;lvl:
     </label>
     <input ng-change="items.changeSearch()" type="number" dnsim-string-to-number step="any" class="form-control" ng-model="items.maxLevel" ng-model-options="{ debounce: 300 }" />
  </div>
</div>

<dnsim-loading also-show-for="!items.results">
  <div class="row table-look"
    infinite-scroll="items.showMoreResults()">
    <div class="col-xs-12 col-md-6" ng-repeat="result in items.results track by $index">
      <div class="dnsim-card">
        <dnsim-item-link item="result" />
      </div>
    </div>
    <div class="col-xs-12" ng-if="items.results && items.maxDisplay <= items.results.length">
      <button class="btn btn-link" ng-click="items.showMoreResults()">show more</button>
    </div>
  </div>
</dnsim-loading>