<div class="row">
  <div class="col-xs-12">&nbsp;</div>
</div>
<div class="row">
<div class="col-xs-4 col-md-2">
  <dnsim-category-links></dnsim-category-links>
</div>
<div class="col-xs-8 col-md-10">
<div class="row">
  <div class="col-xs-0 col-md-2" ng-hide="itemCategory.hideRank"></div>
  <div class="hidden-xs col-md-10 form-group" ng-hide="itemCategory.hideRank">
    <span class="form-group" ng-repeat="(id,value) in ::grades track by $index">
      <label class="checkbox-inline">
        <input type="checkbox" ng-model="$parent.rankChecked[id]" value="{{id}}">{{value.name}}&nbsp;
      </label>
    </span>
  </div>
  <div class="visible-xs col-xs-6 form-group" ng-hide="itemCategory.hideRank" ng-repeat="(id,value) in ::grades track by $index">
    <label class="checkbox-inline">
      <input type="checkbox" ng-model="$parent.rankChecked[id]" value="{{id}}"> {{value.name}}
    </label>
  </div>
  
  <div class="col-xs-6 col-md-2" ng-hide="itemCategory.hideLevel">
    <md-input-container class="md-block">
     <label>min&nbsp;lvl:
     </label>
     <input type="number" dnsim-string-to-number step="any" class="form-control" ng-model="minLevel" dnsim-select-all-on-click />
    </md-input-container>
  </div>
  <div class="col-xs-6 col-md-2" ng-hide="itemCategory.hideLevel">
    <md-input-container class="md-block">
     <label>max&nbsp;lvl:
     </label>
     <input type="number" dnsim-string-to-number step="any" class="form-control" ng-model="maxLevel" dnsim-select-all-on-click />
    </md-input-container>
  </div>
  <div class="col-xs-12 col-md-2">
    <md-input-container class="md-block" flex-gt-sm>
    <label>stat:</label>
    <md-select ng-model="stat">
      <md-option ng-repeat="s in stats track by $index" ng-value="s">{{s.name}}</md-option>
    </md-select>
    </md-input-container>
  </div>
  
  <div class="col-xs-12 col-md-4">
     <md-input-container class="md-block">
      <label>name:</label>
      <input type="text" ng-model="nameSearch" ng-model-options="{ debounce: 200 }" dnsim-select-all-on-click />
     </md-input-container>
  </div>
  <div class="col-xs-12 col-md-2" ng-hide="itemCategory.hideJob">
    <md-input-container class="md-block">
    <label>class: 
    </label>
    <md-select ng-model="job">
      <md-option ng-repeat="j in jobs track by $index" ng-value="j">{{j.name}}</md-option>
    </md-select>
    </md-input-container>
  </div>
</div>
<div class="row"><div class="col-xs-12">&nbsp;</div></div>
<dnsim-loading>
<table class="table">
<tr ng-repeat="result in getResults() track by $index">
  <td>
    <div class="row">
    <div>
      <dnsim-item-link item="result" />
    </div>
    <div>
      <span dnsim-stats stats="result.fullStats" alt-stats="result.stats" separator="'|'" />
    </div>
    </div>
  </td>
</tr>
</table>
<div class="row" ng-show="totalNumResults >= maxDisplay">
  <div class="col-xs-1"></div>
  <div class="col-xs-11">
    <button class="btn btn-link" ng-click="showMoreResults(20)">show more</button> | 
    <button class="btn btn-link" ng-click="showMoreResults(200)">show lots more</button>
  </div>
</div>
</dnsim-loading>
</div>
</div>