<div class="row">
  <div class="col-xs-12">&nbsp;</div>
</div>
<div class="row">
<div class="col-xs-12">
  <p>
     Skills are still under development.
  </p>
  <p>
   Skills that debuf may debuf you instead of your enemy ie. might decrease your defence instead of increasing your attack.
  </p>
</div>
</div>
<div class="row">
  
  <div class="col-xs-12 col-md-9">
     <label>name:</label>
     <input type="text" class="form-control" ng-model="skillSearch.nameSearch" />
  </div>
  <div class="col-xs-12 col-md-3" ng-hide="simpleSearch">
    <label>class: 
    </label>
    <select ng-model="skillSearch.job" class="form-control"
     ng-options="job.name for job in skillSearch.jobs track by job.id" ng-change="skillSearch.skills = null;">
    </select>
  </div>
</div>
<dnsim-loading>
  <div class="row">
    <div class="col-xs-12">&nbsp;</div>
    <div class="col-xs-12 dnsim-card" ng-repeat="result in skillSearch.getResults() track by $index">
      <dnsim-item-link item="result" />
    </div>
  </div>
</dnsim-loading>
